[2019-03-25 19:13] #199 closed

[2019-03-25 19:15] vdups commented on #172
Thanks everyone !!!

My test result is: **almost OK**. Only problem is the default route that prevents k3s from starting, but there is a quirky workaround.

Here is my test scenario in case you need it for the documentation

1. Download k3s + k3s-airgap-images-amd64.tar in ~/
2. Remove my Ethernet wire
3. Configure network (to avoid **default route** problem) : `sudo ip -c address add 192.168.123.

[2019-03-25 20:51] erikwilson commented on #201
It looks like ip forwarding is disabled for your system @saphoooo. Does enabling it help?

[2019-03-25 20:57] erikwilson commented on #213
Looks like the question has been answered, so closing

[2019-03-25 20:57] #213 closed

[2019-03-25 21:02] erikwilson commented on #231
Is there any more info needed here @ggardet? Maybe better documentation on building?

[2019-03-25 21:06] erikwilson commented on #237
The 0.3.0 RC has support for air-gap w/ images as part of the release, please try it out!

[2019-03-25 21:07] erikwilson commented on #242
@hotsmile there may be some flags that are not documented, can you elaborate on the issue?

[2019-03-25 21:24] erikwilson commented on #256
Not sure if this is addressed with rancher/k3s/pull/239 or rancher/k3s/pull/250

[2019-03-25 21:37] erikwilson commented on #261
Another way to consider organizing might be to have each node as a single-node cluster (or if a customer has many nodes then great), and create a multi-cluster app around that model. It would probably work well for something like map/reduce, but maybe not great for other computational models that benefit from fast network interconnects.

[2019-03-25 21:44] erikwilson commented on #261
Also, you may want to look into how we handle imported clusters in Rancher, normally with provisioning we SSH to a machine to provision but with imported clusters (which will work with k3s) we run a kubectl commands on the cluster to communicate back to the server.

I am curious about your edge compute scenario also, the classic edge example might use something like mqtt and lamda functions to pro

[2019-03-25 22:18] erikwilson commented on #261
Sorry - I really need to work on my reading comprehension. :) For a scenario like `(each node is collecting data from IoT devices via bluetooth then processing and passing that to other services in the cloud)` it is probably easiest to consider it as a single node cluster gateway device, or as a multi-node cluster if there are multiple devices covering the same area for the same customer. Rancher

[2019-03-25 23:09] dylanenabled commented on #261
Great! Thanks for the responses. I'll look into Rancher some more and see if that suits. I haven't used k8s at all (though we use containers heavily), so any links you can give on setting up node clusters would certainly help!

[2019-03-25 23:09] #261 closed

[2019-03-25 23:45] gabrielcalderon opened #263 "Provide k8s.gcr.io/pause through docker.io"
Currently I can't pull k8s.gcr.io/pause:3.1, I keep getting a authentication error. Why isnt this image provided through docker.io?

[2019-03-26 00:56] tfpereira commented on #103
Just to confirm I also ran into this mounting an NFS volume with a PV. Running mkdir as @iluminae says makes the pod run.

[2019-03-26 01:51] warmchang commented on #263
Running k3s on an airgap environment: https://github.com/rancher/k3s/issues/172#issuecomment-476339625

[2019-03-26 03:21] ThomasADavis commented on #246
Well, my problem is simple..  The network I am on does not allow querying the DNS server at 1.1.1.1.

[code]

[2019-03-26 04:02] ThomasADavis commented on #246
doing this:

iptables -t nat -A PREROUTING -p udp --dport 53 -j DNAT --to 192.168.85.254:53

on the gateway nat node fixed it for now.

so, check to see 1.1.1.1 works as a DNS service from your node.

[2019-03-26 04:08] ThomasADavis commented on #194
Make sure the node do DNS against ipv4 address of 1.1.1.1

ie, on the host, do:

host www.cnn.com 1.1.1.1

if does not work, you network is blocked from the dns server at 1.1.1.1, and coredns/flannel/traefik will not install properly.

[2019-03-26 04:09] ThomasADavis commented on #152
CoreDNS uses a default IP of 1.1.1.1 for it's dns resolver address.  If this address is blocked, k3s will not install anything except CoreDNS; check the coredns logs, you'll see DNS timeouts.

[2019-03-26 05:03] saphoooo commented on #201
No, it doesn't. It's the subject of this report.

[2019-03-26 07:50] fuero commented on #194
Had the same problem. I installed k3s without deploying coredns and traefik, got the plans from git and manually deployed them with my company's DNS server IPs instead of 1.1.1.1.

Would be nice if the DNS servers to be used were configurable.

[2019-03-26 17:57] ThomasADavis commented on #233
so, I used the admin token creation as noted above, did:

kubectl --namespace=kube-system port-forward kubernetes-dashboard-57df4db6b-q6lx6 --address 0.0.0.0 8443

accepted the self-signed cert, and logged in.  and it works!

[2019-03-26 18:32] lygstate commented on #233
looks good， you do not use proxy？

[2019-03-26 18:49] ThomasADavis commented on #233
proxy can also use the --address 0.0.0.0; the default bind is to 127.0.0.1 or ::1 if you do nothing. I'm still learning all of this.

[2019-03-26 23:02] duglin commented on #90
Getting closer... now I get this:
[code]
I believe it's because K3s has apiversions:
[code]
but not `autoscaling/v2beta1`. I don't know enough about that area of the code to know if it's ok to not have the version or if people use it a lot... but FYI since Istio seems to use it, and therefore Knative.

[2019-03-26 23:24] erikwilson commented on #90
We try to remove old or obsolete API versions, so `autoscaling/v2beta1` was dropped. The difference in v2beta2 is pretty small for this application tho, so it is possible to update istio yaml to use v2beta2 config.

[2019-03-27 00:12] erikwilson commented on #152
We have created a release candidate v0.3.0-rc3 which will hopefully fix these DNS issues. Please try it out and let me know if it helps with the proxy settings!

[2019-03-27 00:16] ibuildthecloud commented on #173
@curx that's a good idea to just create k3s as a system service in rancheros.  I'll see if that make sense for the RancherOS team to support.

[2019-03-27 00:18] erikwilson commented on #194
Thanks @ThomasADavis & @fuero, this info saved me a lot of time trying to reproduce the issue.

We have created a release candidate v0.3.0-rc3 which will hopefully fix these DNS issues. Please try it out and let me know if it helps with the proxy settings!

The settings are configurable in that we will either take a `--resolv-conf` flag to pass down to the kubelet, or a K3S_RESOLV_CONF environment

[2019-03-27 00:21] erikwilson commented on #53
We have created a release candidate v0.3.0-rc3 which will hopefully fix these DNS issues. Please try it out and let me know if it helps!

The settings are configurable in that we will either take a --resolv-conf flag to pass down to the kubelet, or a K3S_RESOLV_CONF environment variable will work also. We now try to use system resolv.conf files (from /etc & systemd), and will create a /tmp/k3s-res

[2019-03-27 02:07] mxplusb opened #266 "kubeconfig symlinking"
**Describe the bug**

Installing k3s via `install.sh` does not give information on where to find the `kubeconfig` file.

**To Reproduce**

`curl -sfL https://get.k3s.io | sh -`

**Expected behavior**

Output of location of `kubeconfig`.

**Additional context**

I was able to find it at `/etc/rancher/k3s/k3s.yaml`, and then symlinked it to `~/.kube/config`, so I solved the problem. I the reason I d

[2019-03-27 02:17] duglin commented on #90
The problem is that's under Istio's control.  @linsun do you know if Istio can (or will) upgrade to v2beta2 any time soon?

[2019-03-27 03:45] mxplusb commented on #266
Turns out this is a _Very Bad Idea_<sup>TM</sup>. I ended up aliasing `alias kubectl="sudo k3s kubectl"`, and things went much more smoothly.

[2019-03-27 03:45] #266 closed

[2019-03-27 08:15] fuero commented on #194
@erikwilson Nice - I'll try it next week when I'm back at work. Keep up the good work!

[2019-03-27 10:12] runningman84 commented on #116
k3s v 0.2 suffers from the same problem.

[2019-03-27 10:30] Sellto opened #267 "Unable to change the cluster domain"
I think you have hardcoded the cluster domain name in the file pkg/daemons/agent/agent.go

[code]

Is there a way to change it?

[2019-03-27 10:47] nheinemans commented on #216
Exact same behaviour here.

I'm also using the http_proxy, https_proxy and no_proxy environment values to make K3S work behind a proxy. I noticed @unautre also has these in his docker-compose.

Also, I'm using the latest k3s version, 0.3.0-rc3

[2019-03-27 14:19] xrain0610 opened #268 "Update to use go mod"
Can you consider to update the golang to 1.12? and use the go mod for package management?

[2019-03-27 14:46] xrain0610 opened #269 "the klipper-lb can't deploy to special host"
when i use the klipper-lb , and make service as layer-4 mode , the slb will create two pods , the loadbalancerIp config seems not apply.  if the klipper-lb is similar to metallb, I think the balancerIP is important and I think only one pods for the slb is enough.

BTW, I deplyed the metallb, the rancher(v2.2.0) will always update the service (sometimes , it update once for a few minutes, some time

[2019-03-27 14:47] xrain0610 commented on #269
the metallb-controller logs:
[code]

[2019-03-27 15:30] schmitch commented on #42
can't etcd run as a docker image inside k8s? actually kubeadm starts etcd within a kubelet manifest file, wouldn't that be possible aswell? so k3s just needs to write a manifest file every boot and put the etcd image into the airgap tar. so the only thing k3s still needs to handle is how to get all the certificates distributed.

[2019-03-27 16:30] warmchang commented on #268
Upgrade to golangci-lint & go v1.12.1: https://github.com/rancher/k3s/pull/262

[2019-03-27 19:24] adi90x opened #271 "Node Name"
Hello,

Seems like  `--node-name` is not working in v0.0.2.
Got an error :
`INFO[2019-03-27T20:22:48.803625301+01:00] Waiting for containerd startup: rpc error: code = Unavailable desc = all SubConns are in TransientFailure, latest connection error: connection error: desc = "transport: Error while dialing dial unix /run/k3s/containerd/containerd.sock: connect: connection refused"
containerd: exit

[2019-03-28 03:20] zhanghongtong opened #273 "Build k3s failed in Mac OS"
**Describe the bug**
Git clone k3s and then go build, the output is as follows
[code]

**To Reproduce**
[code]

**Expected behavior**
Build k3s from code successfully

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
+ go version go1.12.1 darwin/amd64
+ macOS Mojave 10.14.3

[2019-03-28 03:35] xrain0610 commented on #273
see the readme~

[2019-03-28 05:03] ksaito1125 commented on #152
It is the result of execution with v 0.3.0-rc3.

[code]

[2019-03-28 06:22] zhanghongtong commented on #273
@xrain0610 I follow the README to build k3s
[code]

[2019-03-28 07:35] pataha commented on #216
same problem to me, 0.2.0, 0.3.0-rc3

[2019-03-28 07:44] zhanghongtong commented on #273
I noticed that this issue seems to only appear on macOS, which is normal on ubunt.

[2019-03-28 08:47] xrain0610 commented on #273
@zhanghongtong Build It use docker~   use make command.  some packages can't support macOS

[2019-03-28 09:38] zhanghongtong commented on #131
你们解决这个问题了么？我在树莓派上安装了docker，并且用`docker load`加载了 `k8s.gcr.io/pause:3.1`，然后我直接 `k3s agent`，看到k3s的输出的日志中依然有报错
[code]

[2019-03-28 11:45] mxplusb commented on #251
I can confirm this doesn't work locally.

[2019-03-28 14:54] ggardet commented on #231
I was following https://github.com/rancher/k3s#building-from-source to build

[2019-03-28 15:00] bithavoc opened #274 "Kata containers is not able to find containerd.service"
**Describe the bug**
While trying to follow Kata containers [instructions](https://katacontainers.io/posts/kata-deploy-install-kata-containers-kubernetes/) for Kubernetes I found that `kata-deploy` doesn't work, the logs report:

[code]

**To Reproduce**
* Install a basic k3s
* `kubectl apply -f https://raw.githubusercontent.com/kata-containers/packaging/master/kata-deploy/kata-rbac.yaml`
* `kubec

[2019-03-28 16:31] ibuildthecloud commented on #152
@ksaito1125 Can you share the

1. pod logs of coredns-7748f7f6df-ltlxj
2.  /etc/resolv.conf from inside the docker container running the k3s agent
3. The agent log output that prints the kubelets args.  Looks like ```time="2019-03-28T16:26:34.996984960Z" level=info msg="Running kubelet ... --resolv-conf /tmp/k3s-resolv.conf ..."```

[2019-03-28 16:35] mxplusb opened #275 "Enable logging passthrough"
**Is your feature request related to a problem? Please describe.**

I'm attempting to debug the HelmCharts CRD but there aren't any logging flags passed through to the various k8s daemons.

**Describe the solution you'd like**

Support `-v Level` flag for daemons which support it, a good MVP could be the `api-server` and `kube-controller-manager`.

**Describe alternatives you've considered**

None

[2019-03-28 17:10] mxplusb opened #276 "HelmChart CRD doesn't support objects in `spec.set`"
**Describe the bug**

With this manifest at `/var/lib/rancher/k3s/server/manifests/sql.yaml:

[code]

k3s does not deploy the chart. This manifest works:

[code]

**To Reproduce**

1. Create `sql.yaml` from first manifest.
1. `/usr/local/bin/k3s-uninstall.sh`
1. `curl -sfL https://get.k3s.io | sh -`
1. Deploy the local storage provisioner so the chart will deploy.
    1. `kubectl apply -f https://

[2019-03-28 17:12] erikwilson commented on #273
@zhanghongtong Kubernetes does not have support for building natively on MacOs, also see rancher/k3s/issues/88.

The recommended way to build on MacOs (for linux) is with docker or virtualbox.

Closing this issue because there is not much we can do, hopefully kubernetes will support it in the future.

[2019-03-28 17:12] #273 closed

[2019-03-28 17:16] erikwilson commented on #263
Closing this since there are some other issues which describe the problem and work-around. Please re-open with more info if you think this is not sufficient.

[2019-03-28 17:16] #263 closed

[2019-03-28 17:22] erikwilson commented on #269
Could you provide more info on the services (kubectl get service --all-namespaces) and the svclb- pod logs?

[2019-03-28 17:24] erikwilson commented on #249
Closing as a duplicate, if you think the other issue is different please re-open this with more info.

[2019-03-28 17:24] #249 closed

[2019-03-28 17:56] erikwilson commented on #172
Thank you @vdups! I will add some info to the docs re this feature and the default route.

[2019-03-28 18:08] erikwilson commented on #271
@adi90x could you provide some more info please? How many nodes are creating, and what value are you using for the node-name(s)?

[2019-03-28 18:14] adi90x commented on #271
Hello,

Only creating one, trying to use a random name (only lowercase a-z)
The node is starting fine without the flag, but fail with.
I am not sure it failed due to the error reported in first thread as this
error seems to also happen when it start correctly.

Any clue on that ?

Le jeu. 28 mars 2019 à 19:08, Erik Wilson <notifications@github.com> a
écrit :

[2019-03-28 18:57] erikwilson commented on #274
@bithavoc Even though we ship with containerd we do not set up or provide a systemd containerd.service. I was able to get it working by installing a containerd systemd servive with `sudo apt-get install containerd.io` (on ubuntu). I am not sure it is a great idea of kata to depend on systemd, and not sure if having two containerds running will cause a problem, but with that service started the err

[2019-03-28 19:58] bithavoc commented on #274
@erikwilson thanks for the response.

Will k3s use a previously installed containerd runtime?

[2019-03-28 23:09] erikwilson commented on #274
It should be, will probably need to install cri-o also, see rancher/k3s/issues/107

[2019-03-28 23:12] erikwilson commented on #276
I think it may support only key: value pairs instead of objects.

[2019-03-28 23:35] bithavoc commented on #274
Thanks, I'm going to close this for now.

[2019-03-28 23:35] #274 closed

[2019-03-28 23:44] schmitch opened #277 "Failing to start after changing IP"
Hello currently I try to run k3s on a single server, however after changing my IP it always fails with:

[code]

Containerd:

[code]

it would be good if changing my ip is supported (on single node cluster especially)

Same error on 0.2 (btw. I have no idea how to start k3s now)

[2019-03-28 23:54] schmitch commented on #277
nvm got bitten by the hostname error.

[2019-03-28 23:54] #277 closed

[2019-03-29 00:55] erikwilson commented on #251
Are you running k3s with `--no-deploy traefik`?

[2019-03-29 01:02] erikwilson commented on #116
It looks like containerd never starts up @lentzi90, is it possible to run with --debug and share containerd logs?

[2019-03-29 01:40] zhanghongtong commented on #273
THX

[2019-03-29 03:07] erikwilson commented on #276
Some more info, the set spec works as described, but if we try to flatten the keys for set using yaml and something like:
[code]
The above will never deploy because of dot notation. :(

If it is converted to json:
[code]
Strangely enough that will deploy.

It may be possible to use some escaping in the yaml to fix the behavior, but I am going to mark this is an enhancement to support nested keys f

[2019-03-29 03:22] erikwilson commented on #131
It should work @zhanghongtong, please see how it was tested here: https://github.com/rancher/k3s/issues/172#issuecomment-476339625

Loading into docker may work but only if the `--docker` flag is also used. The preferred way is to copy the images to /var/lib/rancher/k3s/agent/images/.

[2019-03-29 04:36] dnoland1 commented on #203
Tested with v0.3.0-rc4 build:
[code]

[2019-03-29 05:10] mxplusb commented on #276
Ah, yeah, I missed that it didn't support nested keys, which would explain my results. Good to know for sure. :)

[2019-03-29 05:18] dnoland1 commented on #222
Tried several variations of "empty" documents in the manifest:
[code]
[code]
[code]
No errors and the configmaps were created:
[code]

[2019-03-29 05:24] #196 closed

[2019-03-29 05:29] dnoland1 opened #280 "Ignore swap (.swp) files in manifests folder"
**Describe the bug**
I created a manifest in /var/lib/rancher/k3s/server/manifests/test.yaml and started k3s in server mode. Decided to edit the file using vi, which generates a .swp file in the same folder. This caused the following error message about every 15 seconds:
[code]
**To Reproduce**
See above

**Expected behavior**
Would be nice if .swp files were ignored. Not sure if it would make sen

[2019-03-29 05:44] dnoland1 commented on #230
Ran:
[code]
Then ran:
[code]
The traefix manifest was not generated as expected.

[2019-03-29 06:10] dnoland1 opened #281 "Deprecated --address flag when running kube-controller-manager"
**Describe the bug**
Seeing the following warning when starting k3s server:
[code]

**To Reproduce**
Ran `sudo k3s server`

**Expected behavior**
Use the `--bind-address` flag instead of `--address` to avoid the warning and ensure future compatibility.

**Additional context**
k3s v0.3.0-rc4

[2019-03-29 06:34] thiemok commented on #251
No, I'm running with default options

[2019-03-29 07:18] xrain0610 commented on #269
@erikwilson not the svclb error ,  this is use the metallb on k3s , the metallb controller will update service once by once.

the kilper-lb always deploy two pods , and the loadbalancerIP of service doesn't effect.

[2019-03-29 08:32] uablrek commented on #259
I can confirm that with PR https://github.com/rancher/k3s/pull/250 applied my problem is solved and `k3s` works with a multi-dest default route.
I close this issue since it is a duplicate.

[2019-03-29 08:32] #259 closed

[2019-03-29 08:36] normander opened #282 "[QUESTION] - override ds.podSandboxImage"
Hi,

how can I override ds.podSandboxImage for my own in my registry without build again?

[2019-03-29 08:46] schmitch opened #283 "can't connect from the outside cluster without flushing iptables"
Hello currently I'm on CentOS and k3s v0.3.0, however I can't connect from the outside without running `iptables -F`

These are the chain it actually sets:
[code]

I mean I can actually set a rule for 6443, but that does not help:
[code]

However when I run `iptables -F` I can access the cluster and the rules are way smaller, is there something I'm missing?

[2019-03-29 09:31] uablrek opened #284 "Support for ipv6 Kubernetes cluster"
**Is your feature request related to a problem? Please describe.**

Since 1.9 K8s supports ipv6-only but it is still in alpha after 5 minor releases and >1.5 years. In that sense it does not fit in the `k3s` concept with "no alpha features". However the main reason for the lingering alpha state is lack of e2e testing. This is aggressively addressed now for the upcoming dual-stack support in k8s.

[2019-03-29 12:18] cristianojmiranda commented on #85
Hey guys, I was able to create dynamic pv/pvc in my k3s using external-storage (https://github.com/kubernetes-incubator/external-storage/tree/master/nfs), I ran the tests with `helm install --name my-release stable/consul`, but I got an issue when I tried to restart my k3s cluster, like `docker-compose down`, my nodes stuck in finishing state, so I had to restart docker service. Does anybody had s

[2019-03-29 13:48] galal-hussein commented on #214
k3s version:
[code]

Steps to validate:
1- start ec2 instance
2- start k3s server with no arguments
3- copy /etc/rancher/k3s/k3s.yaml to your local machine, change the ip to public ip of the machine, and test kubectl get nodes
[code]
4- kill k3s and restart it with `--tls-san x.x.x.x`
5- run step 3 again

Results:

I was able to validate that the kubectl is working correctly:
[code]

[2019-03-29 14:02] erikwilson commented on #269
@xrain0610 the reason I asked for more info is the above logs or text don't really provide me enough to understand what is going on here. It looks like something is misconfigured but I am not sure. If you could provide more information as far as the steps to reproduce or the data from kubectl services that would be awesome, it may help me to fix this issue.

[2019-03-29 14:21] bithavoc commented on #214
And a flag to set the internal IP address.

[2019-03-29 14:26] erikwilson commented on #276
I was able to get it to work using only set, but if the value isn't an int or string it needs to be quoted ("y" and "false"):
[code]

[2019-03-29 15:23] erikwilson commented on #251
If you don't want k3s to manage traefik then just launch the server with `--no-deploy traefik`.

[code]

[2019-03-29 16:24] erikwilson commented on #269
I haven't really tried using metallb much, so I am interested in the steps you are taking to configure k3s and launch services, or any potential port conflicts. It could be that the `--no-deploy` server flag may help with disabling traefik or servicelb to allow metallb to work.

[2019-03-29 16:37] erikwilson commented on #230
Thanks for testing @dnoland1!

[2019-03-29 16:37] #230 closed

[2019-03-29 16:38] erikwilson commented on #222
Thanks for testing @dnoland1!

[2019-03-29 16:38] #222 closed

[2019-03-29 16:43] erikwilson commented on #203
Thanks for testing @dnoland1!

[2019-03-29 16:43] #203 closed

[2019-03-29 16:46] #172 closed

[2019-03-29 16:50] erikwilson commented on #131
@zhanghongtong `docker pull` and `docker save` are helpful for creating images, but we need to use containerd with the default install for loading. You can maybe also use `k3s crictl` but just placing the tar in the agent images directory is preferable. Closing, but if you continue to have issues feel free to re-open.

[2019-03-29 16:50] #131 closed

[2019-03-29 16:52] erikwilson commented on #166
Verified by rancher/k3s/issues/172

[2019-03-29 16:52] #166 closed

[2019-03-29 17:30] erikwilson commented on #200
This should be addressed by the `--tls-san` flag from PR rancher/k3s/pull/239 and https://github.com/rancher/k3s/issues/214#issuecomment-478003830, if not please re-open.

[2019-03-29 17:30] #200 closed

[2019-03-29 17:32] erikwilson commented on #214
Thanks for testing @galal-hussein, and thanks pointing out there are other configuration options that need to be supported @bithavoc. I am leaving this open to support the `bind-address` flag.

[2019-03-29 17:37] erikwilson commented on #27
Please let me know if the new `--tls-san` flag helps with these issues.

[2019-03-29 20:22] lentzi90 commented on #117
I am successfully running cert-manager from the jetstack helm repository. The chart is located [here](https://github.com/jetstack/cert-manager/tree/master/deploy/charts/cert-manager).

To get it to work on arm64 I'm using these values:
[code]

The `extraArgs` part is needed because of [this issue](https://github.com/jetstack/cert-manager/issues/1470) and should not be needed with the next release.

[2019-03-29 20:35] mak3r commented on #227
This seems to be working properly as tested:

`$ setenforce`
`$ getenforce`
[code]
`$ sudo curl -sfL https://get.k3s.io | sh -`
[code]
`$ k3s kubectl get nodes`
[code]

[2019-03-29 20:38] erikwilson commented on #227
Thank you for testing @mak3r!

[2019-03-29 20:38] #227 closed

[2019-03-29 20:46] erikwilson opened #285 "Upgrade istio to use autoscaling/v2beta2"
**Describe the solution you'd like**
Istio should work out of the box with k3s, we do not support autoscaling/v2beta1 so need to upgrade to autoscaling/v2beta2

**Additional context**
rancher/k3s/issues/90
istio/istio/issues/12823

[2019-03-29 20:55] erikwilson opened #286 "Resolve errors with installing Knative"
**Describe the bug**
Errors running Knative

**To Reproduce**
Steps to reproduce the behavior:
https://www.knative.dev/docs/install/knative-with-iks/#installing-istio

**Screenshots**
Error Step 1:
[code]

And when installing Knative Step 2:
[code]

[code]

[code]

[code]

[code]

[code]

**Additional context**
rancher/k3s/issues/90
rancher/k3s/issues/285

[2019-03-29 20:58] erikwilson commented on #90
Thank you for reporting this @duglin, I am closing out this issue for the service load balancer port name fix and have opened up a few more regarding autoscaling/v2beta2 and knative errors.

[2019-03-29 20:58] #90 closed

[2019-03-29 22:30] yasker opened #287 "Race condition result in CSI fail to work with K3S sometime"
`csi.(*csiPlugin).Init` was called twice if server decided to start with agent. It may cause CSI plugin to fail registration.

One time it was called by controller-manager as a part of the server, which serves the wrong parameter; the other time it was called by the kubelet.

The call of controller-manager didn't provide the hostname correct, so if it happens to be the second one calling `Init`, C

[2019-03-29 22:59] yasker commented on #287
This is not an issue for Kubernetes because `kube-controller-manager` and `kubelet` are two binaries. But for k3s, they all in the same binary, so they're sharing the global variable `nim` https://github.com/rancher/k3s/blob/97243fe147202760cbc57b5e525da079a5afd2ee/vendor/k8s.io/kubernetes/pkg/volume/csi/csi_plugin.go#L91

The sharing of global variables cause the issue. The bigger problem is, the

[2019-03-29 23:02] ibuildthecloud commented on #287
@yasker Thanks.  For the moment the best work around is to always run `k3s server --disable-agent` until we resolve this.

[2019-03-30 00:00] #167 closed

[2019-03-30 17:02] Lunik commented on #24
Getting the same issue with multi nodes k3s. With only one node, everything work like a charm.
When adding a new node :
- it show up with `kubectl get nodes`
- when running new pods, they start properly on this node

I'm playing with this command `kubectl run -it --rm --restart=Never busybox --image=busybox sh`
When `codeDNS` and `busybox` pods are not on the same host, they can't talk.
But when t

[2019-03-30 18:13] thiemok commented on #251
I'm not asking about not managing traefik, that was just an simple example.
But I guess updating charts that are deployed from `/var/lib/rancher/k3s/server/manifests` through kubectl is not intended usage?

[2019-03-30 18:43] GeorgeHahn commented on #27
I hit this issue and was able to solve it by using the `--tls-san` flag: `server ... --tls-san <external-ip>`. Thanks @erikwilson!

[2019-03-30 20:20] DMW007 commented on #53
I tried it out on Ubuntu 16.04.6 LTS on `v0.3.0 (9a1a1ec)` since the final 0.3 got released a few hours ago. Using `curl -sfL https://get.k3s.io | K3S_RESOLV_CONFIG=192.168.0.19 sh -` and removing my sed workaround from `cm/coredns` it works, but only without providing a custom TLD:

[code]
But when I try `ping my-pc.fritz.box` it can't resolve. `nslookup` also timed out:

[code]
Using other machi

[2019-03-31 05:47] ibuildthecloud commented on #284
I'm definitely in favor of this.  If you can provide PRs we can figure out what we need to do to support it.  Ideally I would like dual stack on by default for k3s.  If ipv6 only is a good stepping stone for that then lets do it.

[2019-03-31 05:49] ibuildthecloud commented on #282
Not currently supported... sorry.  With the offline support in v0.3.0 you can preload the pause image on the nodes and that could allow you to choose whatever image you want.

The intention is to add a generic hook so that people can customize whatever flag in k8s components (like kubelet).  We just haven't done that yet.

[2019-03-31 05:55] ibuildthecloud opened #290 "Add generic hook to customize component flags"
Currently k3s sets a series of flags on the kube-apiserver, controller-manager, scheduler, kube-proxy, and kubelet.  The flags are essentially hard coded and non-user customizable.

I'd like a generic hook to be added so that on `k3s server` or `k3s agent` one can add any k8s component flag and it will be set on the component.  This can be accomplished by doing a format like `--component-flag=valu

[2019-03-31 06:43] ibuildthecloud commented on #283
@schmitch The last rule in your INPUT chain is `REJECT     all  --  anywhere             anywhere             reject-with icmp-host-prohibited` which will just reject all inbound traffic.  So k3s needs port 6443 open if you want to allow inbound so you need to configure your firewalling system to allow it.  I'm guessing you are using firewalld maybe?   Something in your system is adding `ACCEPT

[2019-03-31 09:10] lentzi90 commented on #103
I can also confirm this problem with NFS volumes. The weird thing is that I have one node that doesn't have this problem or at least hasn't run into it yet. Let me know if there are any interesting logs/system information that could help.

[2019-03-31 10:20] lentzi90 commented on #116
I'm attaching debug logs of the k3s-agent.
[k3s-agent.log](https://github.com/rancher/k3s/files/3026454/k3s-agent.log)
It seems like you are right about containerd not starting. I cannot find any logs from it. They should be here right?
[code]

[2019-03-31 12:49] discordianfish opened #292 "Memory metrics zero"
**Describe the bug**
The memory metrics provided by cadvisor for pods are all zero, e.g:
[code]

The pod for ingress-nginx for instance has the pod id 1701c0ef111e6 for which I find a metric that actually reflects the memory usage:

[code]

So it looks something with mapping the cgroup hierarchy to the right pod_name labels is broken.

**Additional context**
- Running 0.3.0 on openwrt

[2019-03-31 14:17] discordianfish commented on #200
That works, thanks!

[2019-03-31 18:04] drym3r opened #294 "k3s causes a high load average"
**Describe the bug**
I'm not sure if it's a bug, but I think it's not an expected behaviour. When running k3s on any computer, it causes a very high load average. To have a concrete example, I'll explain the situation of my raspberry pi3 node.

When running k3s, I have a load average usage of:

[code]

Without running it, but still having the containers up, I have a load average of:

[code]

**To

[2019-03-31 20:50] goffinf commented on #162
I can confirm that following the approach describe by @ibuildthecloud it is possible to reach a service deployed on k3s via ingress.

k3s version:  0.3.0
platform : Windows Subsystem for Linux (WSL)
k3s: impln: docker-compose
Service Exposed: nginx
Service (host) port: 8081
Service container (targetPort) port: 80

[code]

docker-compose.yaml (note: only a SINGLE node - notice the port mapping 8081

[2019-04-01 01:39] ksaito1125 commented on #152
ok.

[code]

[2019-04-01 01:46] ksaito1125 commented on #152
The node specifies "k3s_node_1 as no_proxy as follows.

[code]

In the log below, it appears that you are communicating via proxy to "" af17518891ba ".
I think we need to communicate with "k3s_node_1" instead of "af17518891ba".

[code]

[2019-04-01 08:16] warmchang commented on #271
Duplicate, try this: https://github.com/rancher/k3s/issues/138#issuecomment-469338640

[2019-04-01 08:20] warmchang commented on #210
Try this: https://github.com/rancher/k3s/issues/138#issuecomment-469338640

[2019-04-01 08:22] warmchang commented on #78
And https://github.com/rancher/k3s/issues/138, https://github.com/rancher/k3s/issues/210, https://github.com/rancher/k3s/issues/271

[2019-04-01 08:39] zhanghongtong commented on #210
@warmchang  It looks like this is two different issues because the contents of the error log are different.

[2019-04-01 09:38] normander commented on #282
Is there any chance to build my own k3s with pause image from private registry? How can I achieve this?

[2019-04-01 09:51] schmitch commented on #283
actually I did not create any firewalls on this host, I removed firewalld and restarted, now I had that:

[code]

actually kubeadm also does not add `REJECT all -- anywhere anywhere reject-with icmp-host-prohibited`.
but reinstalling 0.3 its now gone, too.

[2019-04-01 10:06] #283 closed

[2019-04-01 13:08] kenden commented on #194
With v0.3.0, after adding proxy settings to .
`/etc/systemd/system/k3s.service.env`
and restarting the k3s service, it works fine.
[code]

[2019-04-01 17:53] Zikoel commented on #27
@erikwilson many thanks! With version 0.3.0 and your option to the server all work fine!

[2019-04-01 22:48] babykart opened #295 "Trouble in service (ClusterIP type) with deployment >1 replica"
**Describe the bug**
The service (ClusterIP type) does not work when at creation the deployment have 2 replicas.

**To Reproduce**
***Deployment with 2 replicas***
Create a deployment with 2 replicas and the associated service (ClusterIP).
The endpoints are created but the pods are not reachable via the ClusterIP service:
[code]
In another pod:
[code]
Downgrade the number of replica to 1:
In anoth

[2019-04-02 14:11] moltar opened #296 "Is it possible to cache images on host?"
I'm testing a big deployment, and every time I restart the k3s cluster, I have to pull all of the images each time.

Is there a way to cache the images? Maybe on the host somehow?

I'm using macOS Docker.

Thanks.

[2019-04-02 14:19] warmchang commented on #296
You can put the tar image files (docker save) in "/var/lib/rancher/k3s/agent/images/": https://github.com/rancher/k3s#air-gap-support

[2019-04-02 14:27] reegnz commented on #208
Related: #252

[2019-04-02 14:31] reegnz commented on #252
Also realized today that the fact that metrics API is not present anything relying on HorizontalPodAutoscaling won't work either. :( That is something I ran into with trying to autoscale a deployment on k3s.

[2019-04-02 15:24] moltar commented on #240
I think I am having a similar issue.

[code]

This is coming from the [cert-manager](https://github.com/jetstack/cert-manager/).

I don't know if the image is using `busybox` as a base or not. But either way, it is out of my control. I cannot choose a different image.

Any ideas on how to fix this?

Thanks.

[2019-04-02 18:02] ThomasADavis commented on #246
DNS patches fixes this problem.

Closing.

[2019-04-02 18:02] #246 closed

[2019-04-02 18:12] hjacobs commented on #252
I had a similar issue with `kind` (Kubernetes in Docker), here how I deployed Metrics API: https://github.com/kubernetes-sigs/kind/issues/398

[2019-04-02 20:56] giovannicandido commented on #117
Criating a ClusterIssuer produces error:

Configs:

[code]
[code]
Changing from **ClusterIssuer** to normal **Issuer** works

[2019-04-02 21:01] giovannicandido commented on #117
cert-manager webkook logs:

[code]

[2019-04-02 21:39] nikatjef commented on #42
I would like to second the suggestion for rqlite for the HA system.  For those not familiar with it, rqlite is a raft'd SQLite 3.  It uses raft to provide for a pretty high performance clustered SQLite DB.

More details can be found at;
  https://github.com/rqlite/rqlite

[2019-04-02 22:26] bencompton opened #297 "K3s OS"
In the K3s meetup video, the [dedicated K3s OS](https://www.youtube.com/watch?v=WYPd7i15XOg&t=89m42s) briefly mentioned is an exciting idea. I am guessing this would mean that K3s would be running as the first process like Docker does in RancherOS, and that system containers would run in K3s (perhaps in a specific namespace)?

[2019-04-02 23:53] deniseschannon commented on #37
For now, we're going to keep docs in the readme in the repo.

[2019-04-02 23:53] #37 closed

[2019-04-02 23:53] deniseschannon commented on #40
For now, we're going to keep docs in the readme in the repo.

[2019-04-02 23:53] #40 closed

[2019-04-02 23:56] #55 closed

[2019-04-03 00:06] deniseschannon commented on #106
@scofieldpeng there is a separate issue to make it HA: https://github.com/rancher/k3s/issues/42

@de13 can you file a new issue as a suggestion for using dqlite?

[2019-04-03 00:06] #106 closed

[2019-04-03 00:07] deniseschannon commented on #129
@Promaethius if you have more questions, please feel free to open another issue.

[2019-04-03 00:07] #129 closed

[2019-04-03 00:12] deniseschannon commented on #271
@adi90x please try the comment and let me know if that works for you.

[2019-04-03 00:24] deniseschannon commented on #178
In v0.3.0, we announced which k8s version: https://github.com/rancher/k3s/releases/tag/v0.3.0

but after you get k3s up, you should be able to do `kubectl version` to print out what version of k8s it's based on.

[2019-04-03 00:24] #178 closed

[2019-04-03 01:36] daixiang0 commented on #178
@deniseschannon maybe highlight the k8s version is better for users.

[2019-04-03 02:22] deniseschannon opened #299 "Remove hostname requirement in `/etc/hosts`"
Currently, we need to  ensure in the `/etc/hosts` file, the current hostname (output of hostname) is set to a 127.x.x.x address. For example:

[code]

[2019-04-03 02:27] deniseschannon commented on #207
@igaldahan if GPU support isn't working, please file a separate issue with more details of how it's failing.

[2019-04-03 02:27] #207 closed

[2019-04-03 04:25] de13 opened #300 "dqlite for HA database"
As I mentioned [#106](https://github.com/rancher/k3s/issues/106), [dqlite](https://github.com/CanonicalLtd/dqlite) from Canonical  should be a nice improvement over sqlite.

[2019-04-03 12:58] uablrek commented on #284
First ipv6 try without any modifications to `k3s`;

### Server

[code]

When specifying an ipv6 `--cluster-cidr 1000::2:11.0.0.0/112` the server this happens;

[code]

The flag `--node-cidr-mask-size=120` must be given to `kube-controller-manager`.

Is there a way to specify extra flags to `kube-controller-manager`?

While I am at it; I propose that if `--no-flannel` is specified do not set defaul

[2019-04-03 13:20] uablrek commented on #284
Just saw #290

[2019-04-03 13:24] uablrek commented on #290
Will there be a PR for this very soon?

I ask because I need to alter flags for testing with ipv6 #284 . I already build `k3s` so a re-build is no problem, but if the customize component flags is far in the future I probably will do something temprary on my own just to be able to continue.

[2019-04-03 16:32] deniseschannon commented on #19
I'm closing this in favor of #66

Per @ibuildthecloud

[2019-04-03 16:32] #19 closed

[2019-04-03 16:36] deniseschannon commented on #24
This issue topic is very broad and each person's setup is different and unique. I'd like to close the original issue and if you are still having networking issues, can you open a new issue.

Ideally the subject is something that indicates what OS you are using, what version, and something specific about how the networking is broken.

Thanks for understanding!

[2019-04-03 16:36] #24 closed

[2019-04-03 18:35] apardo opened #301 "JSON API for k3s.io server"
Hi,

there's a JSON API for the k3s.io server?

Thanks

[2019-04-03 18:39] ibuildthecloud commented on #300
I'm open to this, but don't really want to be the test bed.  So I'd love to hear just how mature dqlite is and hows the performance.

[2019-04-03 18:43] dbkegley commented on #27
The new cli flag is working for me as well, thanks for resolving this!

[2019-04-03 18:55] deniseschannon opened #302 "k8s 1.14"

[2019-04-03 19:04] mdcfrancis commented on #194
The following works when running using vagrant behind a proxy on alpine, vagrant is managing /etc/environment using the proxy plugin. Advantage being I have just one place to manage the proxy.

[code]

[2019-04-03 19:08] deniseschannon commented on #194
Can you test it out? @AWDDude @ankurshah7 @tfabien @fuero

With v0.3.0 support, we've added in support for airgap. https://github.com/rancher/k3s/#air-gap-support and introduced the ability to configure DNS.

Per @erikwilson

[2019-04-03 19:14] deniseschannon commented on #202
Closing in favor of #114

[2019-04-03 19:14] #202 closed

[2019-04-03 19:16] deniseschannon commented on #237
Here are the docs for airgap: https://github.com/rancher/k3s#air-gap-support

@lygstate please let us know if you are able to test it out.

[2019-04-03 19:18] deniseschannon commented on #296
@moltar the airgap support was added in v0.3.0.

If you still have an issue/questions, please open a new issue.

[2019-04-03 19:18] #296 closed

[2019-04-03 23:04] giminni opened #304 "Provide arm64v8 pv/pvc layer"
There is no description what storage layer can be used for an arm64 k3s cluster

[2019-04-04 00:07] ekultails commented on #304
I have successfully used `hostPath` and `nfs` for persistent storage on arm64v8 devices (Rock64's).

I agree that having explicit documentation around what storage plugins are available in k3s would be helpful.

[2019-04-04 00:14] ekultails commented on #302
Along with this, upgrade documentation for master and worker nodes (for example, going from k3s v0.3.0 to v0.4.0) would be helpful.

[2019-04-04 00:16] flxs opened #305 "Binding to localhost exclusively"
I'm running k3s v0.3.0 on a small Ubuntu 18.04 VPS that is directly exposed to the internet, with no way to use cloud firewalls or the like.

It makes for a really neat dev environment, but I've noticed that port 6443 is reachable on the public interface, which I get is useful for reaching the cluster from the outside, but I'd still prefer to expose just 22 for SSH and have everything else listen

[2019-04-04 07:05] uablrek commented on #299
I guess this is to get the TLS certificates generated right. If so there is already an alternative;
[code]

[2019-04-04 07:19] uablrek commented on #305
Please see;
https://github.com/rancher/k3s#open-ports--network-security

Port 6443 must be open on the server. And you *must* anyway firewall the VXLAN port, so an extra rule for external access to 6443 should not be too hard IMHO.

[2019-04-04 07:45] warmchang commented on #305
I thinks @flxs just want to open the port on the special ip (such as 127.0.0.1, localhost), and not for 0.0.0.0 (all the ip adresses on the server).

The duplicate issue: https://github.com/rancher/k3s/issues/214

[2019-04-04 08:12] warmchang commented on #300
The Distributed SQLite:
https://github.com/CanonicalLtd/dqlite
https://github.com/rqlite/rqlite

Or just package the etcd in the all in one k3s binary.

[2019-04-04 08:19] uablrek commented on #299
Sorry, I did not see #193 please ignore my remark above.

[2019-04-04 10:38] lygstate commented on #300
prefer rqlite

[2019-04-04 20:03] giovannicandido commented on #117
Update: Issuer works because I removed the webhook validation from the namespace. ClusterIssuer keeps validating.
I did try to disable in helm installation and it does not disable the thing :-). Will check that later.

[2019-04-04 20:08] ibuildthecloud commented on #64
@sokoow 1.5gb for /var/lib/rancher is quite high, that doesn't seem quite right unless maybe its using the VFS driver for containerd.  Do you know where all the space is going?  In general k3s will take ~250mb if both the server and node are on the same device.  If you are just running the agent it should be more like 70mb.

containerd should be fully optional.  Just use the --docker or --containe

[2019-04-04 20:16] ibuildthecloud commented on #300
rqlite looks quite nice.

[2019-04-04 20:24] ibuildthecloud commented on #294
@drym3r is this a fresh install?  Do you any thing deployed in kubernetes?  Do you you see what processes are taking CPU?

[2019-04-04 21:38] flxs commented on #305
Yes, that's exactly what I want, I definitely wouldn't want to expose this sort of thing to the whole internet. I've filtered the port for now (turns out I botched the ufw config previously). Thanks for pointing out the existing issue for this!

[2019-04-04 21:42] tfiduccia opened #306 "old traefik replica set doesn't delete"
Version - v0.3.0

**To Reproduce**
1.  edit the /var/lib/rancher/k3s/server/manifests/traefik.yaml so the chart is pointed to stable/traefik
2.  save edit
3.  k3s kubectl get all --all-namespaces (repeat until job.batch/helm-install-traefik has been completed)

Results:
The old replicaset.app/traefik-<id>, doesn't delete.  So now you have two.  one that is ready and one that is not
![image](https:

[2019-04-04 21:47] tfiduccia opened #307 "coredns pod keeps restarting when setup on behind proxy server"
Version - v0.3.0

**To Reproduce**
1.  Setup a proxy server
2.  Install and run k3s machine behind proxy

Results:  coredns pod keeps restarting
![image](https://user-images.githubusercontent.com/11514927/55590715-8547fe00-56e8-11e9-9013-6845c8a65f7a.png)

**Expected behavior**
Shouldn't keep restarting

[2019-04-04 21:54] tfiduccia opened #308 "In Proxy setup, helm install pod won't start if I use stable/traefik for chart"
Version - v0.3.0

**To Reproduce**
1.  Setup proxy server
2.  Put k3 on machine behind server
3.  edit /var/lib/rancher/k3s/server/manifests/traefik.yaml and change chart to point at stable/traefik

Results: helm-install-traefik-<id> pod keeps restarting and the job never completes
![image](https://user-images.githubusercontent.com/11514927/55591022-5b430b80-56e9-11e9-83f0-0a84e395a8e3.png)

**Exp

[2019-04-05 00:07] staranto commented on #85
Not on Arm64 it doesn't.  The local-path-provisioner pod reports "exec format error".

[2019-04-05 15:54] reegnz commented on #306
That's a feature (and default behaviour) of the Deployment kind.
https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#rolling-back-a-deployment

That's how you do rollbacks of a deployment: the controller scales down the new rs and scales up the old one.

[2019-04-05 21:34] pysen commented on #103
I also ran into this issue on Arch with k3s + openebs, symlinking the k3s mount binary to the system one did the trick and now my pvc is mounted as expected.
`ln -sf /usr/sbin/mount /var/lib/rancher/k3s/data/{hash}/bin/mount`

[2019-04-05 23:52] ldcastell commented on #307
This worked for me:
1. Switch to root

2. set your proxy env variables
[code]
or add them to the /etc/environment file

3. Finally start the k3s server:
[code]
NOTE: I guess the `--node-ip` is irrelevant here.
This worked for me, I hope it works for you too

[2019-04-06 02:16] giovannicandido opened #310 "Import k3s on rancher traefik wss"
Hi,
I have a single node k3s server with rancher successfully installed.
I create a new 2 node k3s cluster, which I want to import.

The cluster keeps in pending state. Investigation leads me to this log in traefik:

[code]

I did add `traefik.backend.loadbalancer.sticky: "true"` annotation to rancher service.

Ingress description:

[code]

Did I miss something?

[2019-04-06 04:11] iluminae commented on #297
Cool idea. I created my own initramfs that is hosted from my PXE server that runs k3s server as pid 1. The initramfs only includes busybox and the installed components of `nfs-utils` and `open-iscsi` from Alpine, so I can mount NFS and iSCSI. `/var/lib/rancher` is stored on a iSCSI block.

[2019-04-06 06:59] seabrookmx commented on #294
I'm seeing the same behavior on my laptop (vanilla Ubuntu 18.04 - i5-3427u CPU).
Fresh install of k3s with nothing running on it.
htop shows "k3s server" hovering between 20 and 30% CPU usage.
containerd, traefik and friends all seem to stay below 1%.
stdout from k3s only shows the startup sequence and it doesn't log any errors or anything after that.

[2019-04-06 07:02] seabrookmx commented on #294
I'm seeing the same behavior on my laptop (vanilla Ubuntu 18.04 - i5-3427u CPU).
Fresh install of k3s with nothing running on it.
htop shows "k3s server" hovering between 20 and 30% CPU usage.
containerd, traefik and friends all seem to stay below 1%.
stdout from k3s only shows the startup sequence and it doesn't log any errors or anything after that.

[2019-04-06 17:24] m4rcu5 commented on #117
I'd like to chime in here.

I also try to install the `cert-manager` without web-hook and that should be possible by passing `--set webhook.enabled=false` to the helm installer.

So I took @giovannicandido snipped as base (which he posted right around the same time I figured out what the Helmchart variables were from the source code. some docs around that feature would be nice :smile: )
[code]

An

[2019-04-06 18:09] drym3r commented on #294
@ibuildthecloud Yes, fresh install. I have things installed right now, but I saw this behaviour when I didn't. There's nothing taking CPU much, similarly to @seabrookmx, I only see a high load average. The load average is also afected by IO from disks, but I also doesn't have detect any activity on that.

[2019-04-06 18:59] derekyle opened #311 "Shorter unique tags"
As I'm sure many are aware, kubernetes uses unique and random tags on the end of pods and nodes and other generated objects.

So when I take a look at my nodes I see something like "my-node-name-c5410167-2m2s" and pods like my-pod-name-75d41dbf2d-6wolp.

I understand the need for unique names on the different deployments and pods. But this does make it difficult to work with. For example, deleting

[2019-04-07 14:22] adi90x commented on #271
Sorry for the delay , adding the name to `/etc/hosts` is perfectly working !
Thanks a lot, closing the issue,
However how complicated it is to automatically add the name to the hosts file in the starting script ?

[2019-04-07 14:22] #271 closed

[2019-04-07 19:08] bencompton commented on #297
@iluminae - Nice! Seems you could run a busybox container in K3s instead, though not sure that would get you much other than aesthetics.

Here are some other wish list items that come to mind for a custom K3s OS:

* SSH disabled by default in favor of centralized, declarative configuration. What if there were a custom Kubernetes API extension for managing the OS itself (modeled after cloud-config

[2019-04-08 02:14] Cheau commented on #60
Thanks to @kaitoy and @franciscocpg.
The error occured to me logged in  `/var/lib/rancher/k3s/agent/containerd/containerd.log`  is shown below:
[code]
Although the hint is not `no such host`, I try to add `127.0.0.1 app1` to the `/etc/hosts` and it works.
Hope this helpful!

[2019-04-08 09:12] uablrek commented on #284
Applied PR https://github.com/rancher/k3s/pull/309 and started with;
[code]

And;
[code]
:smile:

There is still a problem with image loading, containerd insist on using ipv6 addresses;
[code]

I will try to pre-load for testing and also configure containerd. Or, if it comes to that, resort to `cri-o` which I know can download images over ipv4 in an ipv6-only cluster.

[2019-04-08 09:16] uablrek commented on #290
I have applied this patch and was able to start an ipv6-only cluster #284 .

[2019-04-08 09:43] Erchoc commented on #84
What about macos? for downloaded k3s manually, how can i uninstall k3s?

[2019-04-08 10:22] uablrek commented on #284
My mistake. My routing from within the cluster was bad. Now it works;
[code]
Note the ipv6 addresses.

So it seems that `k3s` with PR https://github.com/rancher/k3s/pull/309 has support for ipv6 :grin:

I will now see what needs to be done for `coredns` and external access (nothing I hope).

[2019-04-08 11:34] cwrau opened #312 "Provide helm controller as "normal" operator"
**Is your feature request related to a problem? Please describe.**
I'd like to use the helm controller in other Clusters as well. E.g. cloud providers

**Describe the solution you'd like**
A helm chart that installs an operator that takes the role of the helm controller.

**Describe alternatives you've considered**
[Bitnami](https://github.com/bitnami-labs/helm-crd) seems to have one, but theirs i

[2019-04-08 16:32] uablrek commented on #284
External access to services with `externalIPs:` works fine.

But access to the kubernetes service from within a pod does not work. The endpoint for the kubernetes service is;
[code]
This is OK, but on the agent nodes port 6445 is only open for ipv4;
[code]
Among other things this prevents coredns to work for cluster addresses since it can't connect to the api-server.

I am unsure where this addres

[2019-04-08 16:55] uablrek commented on #284
Found it; https://github.com/rancher/k3s/blob/c0a0b0d39645f35e70c021671a85c02b761057f8/pkg/agent/config/config.go#L105

[2019-04-08 17:39] uablrek commented on #284
<sigh...>
[code]

[2019-04-08 18:32] mrwulf opened #313 "k3s `kubectl` and `crictl` shadow natively installed commands"
**Describe the bug**
When `kubectl` or `crictl` are already installed, links created in `/usr/local/bin/` shadow natively installed commands.

**To Reproduce**
Steps to reproduce the behavior:
1. Install `kubectl` and `cri-tools` ( `sudo dnf install kubectl cri-tools` )
1. Locate the executables ( `which kubectl`, `which crictl` )
    * `/usr/bin/kubectl`
    * `/usr/bin/crictl`
1. Install `k3s` (

[2019-04-09 01:31] warmchang commented on #313
For example when we deploy the k3s-0.30, it include k8s-v1.13.5, but the kubectl which native installed is an old version (eg. k8s-v1.10). How to deal with the compatibility between different versions? It's hard to deal for K3S.

So it's better to keep K3S independent and independent from other components or configurations.

Two alternatives can be considered:

1. User native kubectl cmd: kubectl

[2019-04-09 06:02] runningman84 commented on #312
What about using flux? It also offers a helm operator and can run anywhere

[2019-04-09 08:33] cwrau commented on #312
Flux? You mean [Weaveworks](https://github.com/weaveworks/flux)?
I didn't know about that, thanks!

But depending on the use case, flux seems to be too much?
It is a tool for GitOps, which just (coincidentally) supports Helm charts.

A single operator would be nice as well

[2019-04-09 08:45] runningman84 commented on #312
yes I mean flux from weaveworks. Defining all configs/manifests in a git repo makes sense anyway from my point of view...

[2019-04-09 08:50] cwrau commented on #312
Yeah, I think you're right!

I'll take a closer look at flux, even if I don't use the GitOps stuff, the Helm operator is still useful!

[2019-04-09 08:50] #312 closed

[2019-04-09 11:06] babykart commented on #300
+1 for rqlite

[2019-04-09 20:21] discordianfish commented on #297
I guess rancher would recommend rancheros to be the place to run k3s? See #173

[2019-04-09 21:37] bencompton commented on #297
I actually saw #173 the other day, and bundling K3s in RancherOS would be a nice time saver. I've never used RancherOS, but I love the idea of it. RancherOS is my favorite prospect for running K3s so far.

However, it does seem like overkill to run Docker when the goal is to run K3s. K3s + a kernel is essentially a whole OS in itself. Also, I'm sure there would be a lot of opportunities to improve

[2019-04-09 21:58] shrajfr12 opened #315 "go get github.com/rancher/k3s@v.14.1-k3s.1 fails with "looping trying to add package""
**Describe the bug**
Not able to use "go get" on the recent release tags.
For example, running "go get github.com/rancher/k3s@v1.14.1-k3s.1" fails with
go: import "github.com/rancher/k3s": looping trying to add package
The same issue is observed with other recent tags like v1.13.5-k3s.1
However no such issues with older version tags like v0.3.0 where the command executes successfully. The version

[2019-04-09 21:58] discordianfish commented on #297
I'm searching for a option as well. There is balenaOS and hypriot as well. Personally though I'd prefer something very minimal, but with all the firmware stuff needed for rpi3.

[2019-04-10 05:07] jait commented on #104
Closing as this was a bad installation

[2019-04-10 05:07] #104 closed

[2019-04-10 05:53] zkpingguo opened #316 "k3s failed to start server"
**Describe the bug**
k3s failed to start server

 **To Reproduce**
download k3s-armhf v0.3.0，put the bin file to /usr/bin/ dir，then run command：k3s-armhf --debug server & ,however,it failed ,I attached log as follows.

**Expected behavior**
k3s-armhf start server succefully.

**Log as follows:**
# k3s-armhf --debug server &
[1] 1104
INFO[0000] Preparing data dir /var/lib/rancher/k3s/data/e737b8b70

[2019-04-10 06:41] uablrek opened #317 "Pods stuck in ContainerCreating in v0.4.0-rc1"
**Describe the bug**

When starting `v0.4.0-rc1 (b5217e2)` with;
[code]
everything seems to go well but the coredns pod is stuck in;
[code]

The `pause` image is loaded but not coredns;
[code]

I monitor all DNS queries from the system and the only thing that shows up is;
[code]
So no attempt is even made to load the coredns image.

I suspect something with `containerd`, here is tail of `/var/lib/

[2019-04-10 06:52] uablrek commented on #317
I don't run `systemd`. Is there any "cgroup" setup made by systemd that I may be missing?

[2019-04-10 06:55] uablrek commented on #317
Yes it was. Starting with systemd and;
[code]
I am no big fan of "systemd" so I would *really* like to avoid it. I will try to find out what is missing, but any hint is appreciated.

[2019-04-10 07:39] uablrek commented on #317
Solved.

I removed my old (faulty) cgroup mounts entirely and got;
[code]

Which is very clear information (thanks). Added;
[code]
I guess not many users build their own system but for those few this information is good to have, so please consider some document update.

I leave this issue open for now but feel free to close it at any time.

[2019-04-10 07:57] DimJacq opened #318 "Multi Master possible ?"
Hello, I would like to create a cluster K3S with multi-master to have more avaibility. For exemple, if my first master goes down, my cluster still working with the same option/posibility. Do you know if it's possible ? I have already install K3S on 3 raspberry and all works well but with only 1 master.
I have already done with https://github.com/kelseyhightower/kubernetes-the-hard-way on my raspbe

[2019-04-10 13:45] uablrek commented on #284
I made a PR https://github.com/rancher/k3s/pull/319 that fixes the problems above but access to the kubernetes api service `[fd00:4000::1]:443` does not work from within a pod. From main netns you can connect;
[code]

[2019-04-10 14:04] sr229 opened #320 "Do not replace link for kubectl when existing link is found"
**Is your feature request related to a problem? Please describe.**

Since I manage multiple clusters I would like to use my kubectl config instead. get.k3s.io replaces the kubectl link for some reason which is quite frustrating since I already have my own kubectl

**Describe the solution you'd like**

A much more better way is to find if `.kube/config` is found or there is data when `command -v ku

[2019-04-10 14:11] sr229 opened #321 "Do not proceed with initialization when hostname fails to resolve"
**Is your feature request related to a problem? Please describe.**

Since we are getting reports of TransientErrors during initialization for containerd, I think k3s should not proceed to component initialization if hostname cannot be resolved properly .

**Describe the solution you'd like**

We should do a ping check if hostname can be found. If not, error out.

**Describe alternatives you've con

[2019-04-10 14:12] sr229 commented on #317
I can't encounter this on arch and  fedora so I'll assume this only happens if your cgroup mounts are incorrectl.

[2019-04-10 16:53] bencompton commented on #114
Looking at Microsoft's instructions for [joining a Windows node to a cluster](https://docs.microsoft.com/en-us/virtualization/windowscontainers/kubernetes/joining-windows-workers?tabs=ManagementIP), Kubernetes releases have [binaries](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.13.md#node-binaries) for running Windows worker nodes (kubelet.exe, kube-proxy.exe), but not the con

[2019-04-10 18:02] tfiduccia opened #322 "Upgrading from 0.3.0 to 0.4.0-rc1 creates two sets of pod/svclb-traefik"
Version - upgrading 0.3.0 to 0.4.0-rc1

**Describe the bug**
Another set of pod/svclb-traefik gets created on upgrade

**To Reproduce**
1.  Install and run k3s version v0.3.0
2.  Stop the k3s service and upgrade to 0.4.0-rc1

**Screenshots**
![image](https://user-images.githubusercontent.com/11514927/55902136-b52b5180-5b7f-11e9-977d-223dc83bcf92.png)
![image](https://user-images.githubusercontent.

[2019-04-10 18:21] Lunik opened #323 "Cluster in GCP is broken"
**Describe the bug**

I have two nodes on GCP and I'm playing with this command `kubectl run -it --rm --restart=Never busybox --image=busybox sh`
When `codeDNS` and `busybox` pods are not on the same host, they can't talk.
But when they are on the same node, they can...

**To Reproduce**

My config :
Two fresh Centos 7 launched on GCP with no firewall filtering between them.
Rancher K3S installed

[2019-04-10 18:29] tfiduccia commented on #322
Expected behavior

[2019-04-10 18:29] #322 closed

[2019-04-10 18:35] tfiduccia commented on #306
Not an issue

[2019-04-10 18:35] #306 closed

[2019-04-10 21:17] vincentmli opened #325 "kubectl logs fail to get container log when k3s behind corporate proxy"
Thanks for helping us to improve k3s! We welcome all bug reports. At this stage, we are also looking for help in testing/QAing fixes. Once we've fixed you're issue, we'll ping you in the comments to see if you can verify the fix. We'll give you details on what version can be used to test the fix. Additionally, if you are interested in testing fixes that you ***didn't*** report, look for the issues

[2019-04-11 04:02] #302 closed

[2019-04-11 13:17] bencompton commented on #318
HA / etcd is not currently implemented; see #42.

[2019-04-11 14:43] jose-sanchezm opened #326 "Huge delay in the creation of persistent volumes with Rook"
**Describe the bug**
PVC created with Rook takes about one hour to start provisioning a volume after its creation.

**To Reproduce**
Steps to reproduce the behavior:
- Have a unformatted disk of at least 5GB attached to the master machine running CentOS
- Install k3s with the installation script ```curl -sfL https://get.k3s.io | sh -```
- Wait for k3s to finish loading and check that all pods are

[2019-04-11 15:31] shrajfr12 commented on #315
Seems to be a known issue when package structure is changed with pre-release or pseudo versions. Please see https://github.com/golang/go/issues/30394 for details. When changed to a full release version e.g v1.14.1, the issue is expected to get resolved.

[2019-04-11 16:53] deniseschannon commented on #64
If anyone has issues using k3s with balena, please open a new issue.

[2019-04-11 16:53] deniseschannon commented on #64
If anyone has issues using k3s with balena, please open a new issue.

[2019-04-11 16:53] deniseschannon commented on #64
If anyone has issues using k3s with balena, please open a new issue.

[2019-04-11 16:53] deniseschannon commented on #64
If anyone has issues using k3s with balena, please open a new issue.

[2019-04-11 16:53] deniseschannon commented on #64
If anyone has issues using k3s with balena, please open a new issue.

[2019-04-11 16:53] deniseschannon commented on #64
If anyone has issues using k3s with balena, please open a new issue.

[2019-04-11 18:21] deniseschannon opened #328 "Metrics API enhancements"
Add ability to deploy upstream metrics server with no modifications

[2019-04-11 18:22] deniseschannon opened #329 "Docs for deploying metric server"

[2019-04-11 18:26] deniseschannon commented on #308
@galal-hussein Investigate how to pass the proxy variables to helm install job from the helm controller

[2019-04-11 18:27] dnoland1 commented on #281
Tested with 0.4.0-rc1. See that `--bind-address` flag is now being used and no longer see the deprecated warning:
[code]

[2019-04-11 18:28] #281 closed

[2019-04-11 18:32] deniseschannon opened #330 "Docs for rootless"

[2019-04-11 18:37] deniseschannon opened #331 "Ability to configure containerd config.toml"
Look at existing PRs to get it in:
https://github.com/rancher/k3s/pull/248
https://github.com/rancher/k3s/pull/264

[2019-04-11 18:42] ibuildthecloud commented on #301
There is no specific API for k3s.  Any functionality that k3s provides on top of k8s is done through program arguments or CRDs (HelmApp).

[2019-04-11 18:42] #301 closed

[2019-04-11 18:44] ibuildthecloud commented on #304
I don't have a specific recommendation here.  Any CSI driver that support arm64 should work on k3s on arm64.  There is a list of drivers available here https://kubernetes-csi.github.io/docs/drivers.html

Also note that we are fixing some CSI related issues that are in v0.4.0-rc1.  So you might want to start there if you are using CSI.

[2019-04-11 18:44] #304 closed

[2019-04-11 18:44] deniseschannon commented on #305
@flxs That issue (#214) has been resolved and is ready to test with our latest RC (v0.4.0-rc1). Can you give it a try and let me know?

[2019-04-11 18:45] deniseschannon opened #332 "document ability to customize any k8s flags"

[2019-04-11 18:47] deniseschannon commented on #310
Are you able to import any clusters into Rancher? I'm not sure this is a k3s cluster specific issue.

If you can import other k8s clusters, then it'll be a rancher issue and should be filed in rancher/rancher.

[2019-04-11 18:47] ibuildthecloud commented on #77
I do like kube-router but i think defaulting to it would be too much of a change from what people are expecting, if they are just expecting vanilla k8s.  The kube-proxy really doesn't add much memory so it's not a huge concern.  The biggest issue is the performance hit.

[2019-04-11 18:49] ibuildthecloud commented on #315
This is a known issue we will revisit this after k8s 1.15 is released.  Go modules are an absolute disaster when working with k8s.  k8s recently switched to go modules, be it is still hard to leverage.  It should be much easier once k8s does a proper release.  I'm going to close for now.

[2019-04-11 18:49] #315 closed

[2019-04-11 18:50] #317 closed

[2019-04-11 18:50] deniseschannon commented on #318
Closing in favor of #42

[2019-04-11 18:50] #318 closed

[2019-04-11 18:52] ibuildthecloud commented on #77
I believe kube-router should work on k3s as is.  Please create a new issue if kube-router doesn't work and we will address that.  In terms of preserving client IPs, k3s doesn't change the behavior of k8s so this is really a more generic k8s question.

[2019-04-11 18:52] #77 closed

[2019-04-11 18:54] deniseschannon commented on #320
This is a duplicate of https://github.com/rancher/k3s/issues/313

[2019-04-11 18:54] #320 closed

[2019-04-11 19:06] deniseschannon opened #333 "Add scheduling rules to control where host port service lb lands"

[2019-04-11 19:07] deniseschannon commented on #285
`autoscaling/v2beta1` is now available in v0.4.0-rc1.

[2019-04-11 19:07] #285 closed

[2019-04-11 19:07] deniseschannon commented on #280
We should do the reverse in look for only `.yml`, `.yaml` and `.json` only files.

[2019-04-11 19:08] deniseschannon commented on #280
and ignore any files that start with `.`

[2019-04-11 19:09] ibuildthecloud commented on #315
Essentially duplicate of #268

[2019-04-11 19:09] deniseschannon commented on #268
We'll revisit this after k8s 1.15 is released.

[2019-04-11 19:12] #194 closed

[2019-04-11 19:13] deniseschannon commented on #152
@ksaito1125 With v0.3.0 we have added ability to respect the proxy settings. Please test it out and re-open if you can't get it to work.

[2019-04-11 19:13] #152 closed

[2019-04-11 19:14] #53 closed

[2019-04-11 19:15] deniseschannon commented on #214
We have added the ability to configure the server IP address in v0.4.0-rc1. Please test it out and let us know if it's working for you!

[2019-04-11 19:18] deniseschannon commented on #64
If anyone has issues using k3s with balena, please open a new issue.

[2019-04-11 19:19] deniseschannon commented on #64
Sorry for the spam, GH was acting up and not letting me comment earlier!

[2019-04-11 19:20] ibuildthecloud commented on #325
Shoot... I think I know whats up.  The proxyTransport the api server uses to connect to the kubelets should not respect proxy args.  It uses the tunnel dialer.  We'll fix this

[2019-04-11 19:47] dnoland1 opened #334 "k3s crictl --help shows unknown version"
**Describe the bug**
`k3s crictl --help` shows unknown version. Note, `k3s crictl version` works fine.

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
Should show the version instead of `unknown`

**Additional context**
[code]
This issue could be the same or related to https://github.com/rancher/k3s/issues/236

[2019-04-11 20:27] yasker commented on #287
Verified. Now in v0.4.0-rc1, CSI nim and hostname has been properly initialized.

[2019-04-11 20:29] tfiduccia commented on #325
Broken on 0.4.0-rc1

[2019-04-11 20:55] giovannicandido commented on #310
Agreed, closing the issue...
Thanks.

[2019-04-11 20:55] #310 closed

[2019-04-11 21:04] #287 closed

[2019-04-11 22:42] ibuildthecloud opened #335 "RPi broken on v0.4.0-rc1"
[code]

[2019-04-12 00:26] dnoland1 commented on #214
Works for me. Tested on EC2 with internal IP 10.0.0.10 and external IP 35.166.194.189. Ran:
[code]
According to netstat, k3s is listening and binding on the IP I passed:
[code]
I copied `/etc/rancher/k3s/k3s.yaml` to my laptop, replaced the internal IP with the external IP and was able to run kubectl without any warnings:
[code]

[2019-04-12 00:29] #214 closed

[2019-04-12 01:50] ajodock opened #338 "Array values break helm chart manifests"
**Describe the bug**
I am trying to make some changes to the default Traefik manifest, but as soon as an array is added to the chart's settings the manifest watcher breaks.  The deployment is never started, and all further changes to the manifests directory stop working permanently (even if the manifest is removed and the server rebooted).

**To Reproduce**
Edit traefik.yaml and add an array.  Rep

[2019-04-12 04:06] ajodock commented on #338
It looks like this is a problem with booleans as well.  The current traefik helm manifest shipped with k3s uses "true" instead of true, but if you use true it breaks the manifest watcher like the above array example.

If you use "true"/"false" instead it treats them as strings which means that `"false" == true`.  This makes it impossible to override any chart value that defaults to true.

Here is

[2019-04-12 07:58] zkpingguo commented on #316
kernel need to open INOTIFY_USR option，and problem solved。

[2019-04-12 07:58] #316 closed

[2019-04-12 13:52] m4rcu5 commented on #338
I'd also like to confirm that boolean values break HelmCharts.

In my example I like to disable the webhook on the `cert-manager` chart:
[code]

The server's debug output is similar as mentioned by @ajodock:
[code]

I have tried quoting the "false" value as well, throwing the following warning in the `helm-install` pod:
[code]

[2019-04-12 14:49] ibuildthecloud commented on #338
The `set` field is `map[string]string` so you must quote everything in the value because of how yaml works.  So "true" not true.  If this causes an issue with your chart then you can also use `valuesContent` as referred to in the README.md.  An example as below

[code]

With valuesContent you can put any content and it should always work.  It's just a bit more verbose.

[2019-04-12 16:33] ajodock commented on #338
Thanks for the heads up on valueContent, this is working great for me (and I prefer the format anyways).  But can anything be done to reject non-strings from being passed?

The fact that they need to be strings isn't exactly clear, which makes it very easy for someone unaware to come in and pass a non string, or copy and paste something forgetting that only strings can be passed.  Doing so leaves

[2019-04-12 17:18] giovannicandido opened #340 "Port forward problem"
**Describe the bug**
Try to port-forward using kubectl:

` kubectl -n cattle-system port-forward pod/rancher-57f4fdc5bb-tts88 9001:9443`

Access localhost in port 9001

Result:

*Expected*:

Access to pod/service

[2019-04-12 17:45] erikwilson commented on #252
Metrics server should work with the latest RC, but needs some extra configuration.

To verify functionality k3s should run with a `--kubelet-arg="address=0.0.0.0"` flag, ex:
[code]

And install metrics server using our custom deployment from the root of this repo:
[code]

Then after a minute test metrics scraping:
[code]

Our goal is to continue improving k3s so a default deployment of metrics-ser

[2019-04-12 18:23] erikwilson commented on #338
Closing this as a duplicate of rancher/k3s/issues/276, PRs welcome to improve documentation or functionality. :)

[2019-04-12 18:23] #338 closed

[2019-04-12 21:46] mdaniel opened #341 "build v0.3.0 fails at docker cp step"
**Describe the bug**

`make build` fails

In fairness, `make ci` succeeds, but it was unexpected to have `make build` fail

**To Reproduce**

* `git checkout v0.3.0` (`master` fails in the same way, but I would certainly expect a tagged version to build)
* `make build` (or `./.dapper --debug build`)
* observe the kaboom

**Expected behavior**

`exit 0`

**Additional context**

The full build.log:

[2019-04-13 00:27] erikwilson opened #343 "kubelet-arg flag does not support maps"
**Describe the bug**
Pass through flags like --kubelet-arg may not properly support map values, such as passing
`--kubelet-arg="feature-gates='SupportPodPidsLimit=false'"`

**To Reproduce**
Steps to reproduce the behavior:
`sudo k3s server --kubelet-arg="feature-gates='SupportPodPidsLimit=false'"`

**Expected behavior**
Args are capable of taking flags with map values (eg `Key1=Val1,Key2=Val2`)

*

[2019-04-13 07:21] runningman84 commented on #77
I do not think that you can run kube-router with k3s. Because you have to remove the kube-router daemon set and iptables rules. We would need an additional option like without kube-proxy otherwise there would be a conflict.

[2019-04-13 10:28] HaJoHe opened #344 "k3s not starting using CentOS7"
**Describe the bug**
K3S is not starting correctly. Always restarting coredns + helm-install-traefik
Looks similar to #246, but server has full access to internet, and no issue with the described DNS problem.

**To Reproduce**
Steps to reproduce the behavior:
Minimal installation of CentOS7 18.10 + SElinux= permissive+ installation of policycoreutils-python

curl -sfL https://get.k3s.io | sh -

**

[2019-04-13 10:54] superseb commented on #344
Is `firewalld` running and does it work when you disable it?

[2019-04-13 15:57] afbjorklund opened #346 "CNI plugin "host-local" assumed to be in PATH"
**Is your feature request related to a problem? Please describe.**

The current code assumes that "host-local" is available in the PATH:

https://github.com/rancher/k3s/blob/ea834eb2ecebf8a8585b67d5438749b6f73f24fd/pkg/agent/config/config.go#L204

**Describe the solution you'd like**

It would be nice if you could configure the CNI plugins directory ?

**Describe alternatives you've considered**

[2019-04-13 18:17] HaJoHe commented on #344
Hello,

as mentioned in #246, I've disabled firewalld and enabled iptables.services.

Looks like disabling iptables.services too, solved the issue.

[2019-04-14 07:33] alexellis opened #347 "crypto/rand: blocked for 60 seconds"
**Describe the bug**
A clear and concise description of what the bug is.

On my odroid-c2 I can't get the k3s server to come up upon reboot

[code]

After 60 secs it just fails:

[code]

**To Reproduce**
Steps to reproduce the behavior:

Reboot the device

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help e

[2019-04-14 15:37] jimangel commented on #76
Hey @erikwilson, the instructions are way better today then they were a a couple months back. I see the snippet in the code to run `sudo systemctl enable k3s.service` which would solve this issue. It might be nice to call that out in the docs - but that might not be a problem to someone who's starting a net new install today. Thanks!
/close

[2019-04-14 15:37] #76 closed

[2019-04-14 17:10] ibuildthecloud commented on #347
@alexellis I believe this only happens on first boot because after all the certs are generated we don't do this again.  Do you see that behavior?  Also is this just fixed by changing the TimeoutSec in the systemd k3s.unit file?  Look at the diff in this PR https://github.com/rancher/k3s/pull/226/files

[2019-04-14 17:29] alexellis commented on #347
I have rebooted 2 to 3 times on this one.

[2019-04-14 18:28] ibuildthecloud commented on #347
@alexellis Just to clarify, so you have started k3s successfully once?  And then a `systemctl restart k3s` will still fail?

[2019-04-15 07:23] #282 closed

[2019-04-15 08:33] abusaidm opened #350 "Traefik UI port"
Looking at enabling the UI port for traefik, I noticed that there is a port 8880 enabled and there is no mention of configuring the Traefik UI for this port, also the name httpn was slightly miss leading. The snippet below is how the port looks on a default installation of k3s without any extra inputs.

[code]

Is there an option to enable Traefik UI from the installation params or do I need to in

[2019-04-15 11:04] deas opened #351 "0.3.0 : serviceaccount "tiller" not found"
**Describe the bug**
After installation of k3s `0.3.0`, tiller replicaset fails to create pods due to a missing service account

`Error creating: pods "tiller-deploy-7575566df7-" is forbidden: error looking up service account kube-system/tiller: serviceaccount "tiller" not found`

Hence, you cannot use the helm cli with tiller at all.

**To Reproduce**
Install 0.3.0 and try

[code]
**Expected beha

[2019-04-15 11:12] superseb commented on #351
Did you follow the steps to install using RBAC as described on https://github.com/helm/helm/blob/master/docs/rbac.md? The command also shows it is already installed (possibly in a wrong way). If you run `helm reset --force` and retry using the correct prerequisites, does that work? If not, can you supply exact commands used?

[2019-04-15 11:22] deas commented on #351
Applying the rbac yaml and deleting the ReplicaSet fixed the issue for me. Just wanted to mention the issue because using helm might be one of the first things people might be trying so this should probably be working out of the box.

Thanks!

[2019-04-15 16:46] erikwilson commented on #347
For crypto.rand reader the expected behavior is as follows:
[code]

Doing a quick search I am curious if `getrandom` is broken for the odroid kernel you are using, or if it is just very slow, @alexellis .

[2019-04-15 16:58] ibuildthecloud opened #353 "Upstream https://github.com/rancher/k3s/pull/348 to k8s"
This is bug is a k8s itself. We should upstream this fix, probably even get in v1.14.x

[2019-04-15 21:54] ibuildthecloud commented on #353
Fix not needed

[2019-04-15 21:54] #353 closed

[2019-04-15 23:49] tfiduccia commented on #325
Version - v0.4.0-rc3
Verified fixed

[2019-04-15 23:49] #325 closed

[2019-04-15 23:49] tfiduccia commented on #307
Version - v0.4.0-rc3
Verified fixed

[2019-04-15 23:49] #307 closed

[2019-04-15 23:55] deniseschannon commented on #267
@Sellto With our latest RC, v0.4.0-rc3, this option is now configurable. If you could test it out and let me know if it works, that'd be great!

[2019-04-15 23:58] erikwilson commented on #347
This should be fixed with rancher/k3s/pull/342, I am guessing systemd is killing the process in the middle of key generation. The root of the issue is probably low entropy on the system tho, entropy can be viewed with `cat /proc/sys/kernel/random/entropy_avail`. `haveged` or `rng-tools` may be helpful in that scenario.

[2019-04-16 00:19] erikwilson commented on #210
@zhanghongtong Are there any helpful logs in `/var/lib/rancher/k3s/agent/containerd/containerd.log` or `/tmp/k3s.ERROR`?

[2019-04-16 00:21] dnoland1 commented on #267
Launched k3s using:
[code]
Appears coredns is configured with `rancher.local` domain (see line 7):
[code]

[2019-04-16 00:52] dnoland1 commented on #290
Verified I could add `--v=99` flag for kube-apiserver, kube-scheduler, kube-controller, and kubelet:
[code]
Didn't test kube-proxy since it appears k3s does not have INFO logs that show the flags used to start kube-proxy.

[2019-04-16 01:15] dnoland1 commented on #252
Works for me. Started up k3s using:
[code]
Applied metrics-server manifests:
[code]
Able to see pod and node metrics:
[code]

[2019-04-16 01:17] mak3r commented on #335
I have found that installing and running v0.4.0-rc3 resolves the issues. This is true for both installation methods - downloading the release version and also using the scripted install.

[code]

[code]

**CONTENT BELOW IS A VALIDATION/RECREATION OF THE ISSUE AS SEEN ON RPi**

I get the following error when I install v0.4.0-rc1 on the RPi3B+ using the install script
[code]

I get the following out

[2019-04-16 01:17] dnoland1 commented on #254
Kubectl top works now on v0.4.0-rc3. See https://github.com/rancher/k3s/issues/252#issuecomment-483474051

[2019-04-16 01:21] #335 closed

[2019-04-16 02:42] erikwilson commented on #252
Thanks for testing @dnoland1!

[2019-04-16 02:42] #252 closed

[2019-04-16 02:42] #254 closed

[2019-04-16 02:45] erikwilson commented on #267
Thanks @dnoland1!

[2019-04-16 02:45] #267 closed

[2019-04-16 03:36] #290 closed

[2019-04-16 04:50] giminni commented on #351
@deas can you explain how to install tiller on k3s.
I tried applying the tiller serviceaccount over a fresh k3s installation.
The tiller deploy pod is crashing.
Is it true to set KUBECONFIG to /etc/rancher/k3s/k3s.yaml before installing helm?

[2019-04-16 06:28] hjacobs commented on #252
@erikwilson fix for the README: https://github.com/rancher/k3s/pull/355

[2019-04-16 14:56] thedirtymexican commented on #117
I am also trying to get cert-manager to run on k3s, after following the instructions on https://docs.cert-manager.io/en/latest/getting-started/install.html#installing-with-helm I was able to:

1. Apply CRDs:
2. install cert-manager via helm (disabling webhooks): `helm install   --name cert-manager   --namespace cert-manager --version v0.7.0 jetstack/cert-manager --set webhook.enabled=false`
3. App

[2019-04-16 17:27] e-nikolov opened #356 "Should it be possible to set up log shipping to elastic via fluentd?"
Not sure how to ask my question in a better way, basically has anyone managed to set up fluentd with k3s for log shipping?

[2019-04-16 20:43] deniseschannon commented on #72
This is available in our latest RC (v0.4.0-rc3). If anyone could test it out, it'd be great!

[2019-04-16 20:51] erikwilson commented on #72
Verified by setting `--flannel-iface=...` and checking that `ip -d l show flannel.1` included the desired interface. Thanks for submitting a PR @yoink00, if this does not fill your needs feel free to re-open or submit a new issue @selcukusta & @aaliddell

[2019-04-16 20:51] #72 closed

[2019-04-16 21:12] #329 closed

[2019-04-16 21:13] #330 closed

[2019-04-16 22:47] khurtado opened #360 "k3s service start-pre times out after installation"
**Describe the bug**
When installing k3s, systemctl complains the server timed out
[code]

# And journalctl shows:
[code]

**Expected behavior**
k3s service should start without issues.

**Screenshots**
If applicable, add screenshots to help explain your problem.

Any ideas on how to debug this?
This is on CentOs 7.6, firewalld is disabled

[2019-04-16 23:54] erikwilson commented on #360
It looks like `/sbin/modprobe overlay` is hanging for some reason, if you run that command manually as root does the same thing happen? I would think this should have been fixed with https://github.com/rancher/k3s/pull/342 tho, can you verify that TimeoutStartSec appears with `grep TimeoutStartSec /etc/systemd/system/k3s.service`?

[2019-04-17 00:27] owen-carter opened #361 "` curl -sfL https://get.k3s.io | sh -` did not work as expected"
**Describe the bug**
`curl -sfL https://get.k3s.io | sh -` did not started the k3s service when I execute it

**To Reproduce**
1 .   curl -sfL https://get.k3s.io | sh -

**Expected behavior**
run as Expected

**Screenshots**
[code]

**Additional context**
[code]

[2019-04-17 02:07] szlyunnan opened #362 "kubelet-arg flag bug"
**k3s server --kubelet-arg flag**
Set this config:
k3s server --kubelet-arg="pod-infra-container-image=registry.cn-hangzhou.aliyuncs.com/google-containers/pause-amd64:3.0"

run as :
Running kubelet --cluster-domain=cluster.local --kubeconfig=/var/lib/rancher/k3s/agent/kubeconfig.yaml --cni-bin-dir=/var/lib/rancher/k3s/data/e249e3fc5ccf8ea07732c672f3062154b47357f5c85e1735339f087752a0f3ee/bin --cgro

[2019-04-17 05:24] edouardkleinhans opened #363 "Update procedure"
**Is your feature request related to a problem? Please describe.**

What is the best way to update server and agent to a new release ?

**Describe the solution you'd like**
Simply rerun the install script

[2019-04-17 06:53] jeusdi commented on #194
I'm running against the same issue:

![image](https://user-images.githubusercontent.com/941639/56266890-9a139100-60ed-11e9-966a-a5fe372f9aa9.png)

I've tried to deploy an straighfoward nginx server. Nevertheless, it seems k3s is not able to get the image.

By other hand: Must be docker be installed as well? I've only installed k3s.

[2019-04-17 07:05] puneetmathur-87 commented on #90
How this was resolved ? I am also facing the same for the activator and dispatcher.

[2019-04-17 07:27] erikwilson commented on #90
There are still issues with install Knative that are being tracked at rancher/k3s/issues/286, @puneetmathur-87. Although those errors are for Knative v0.4.0 there are still issues with v0.5.0 that may be related to permission changes in Kubernetes v1.14, the changelog provides some potential work-arounds that I have not tried yet.

[2019-04-17 07:33] jeusdi commented on #194
![image](https://user-images.githubusercontent.com/941639/56269424-eb268380-60f3-11e9-8d23-9bb1bb3bac21.png)

[2019-04-17 09:48] warmchang opened #364 "[v0.4.0 air-gap env] k3s startup failure, but the previous version was normal."
**Describe the bug**
The new version (v0.4.0) ran incorrectly in air-gap env, but the previous version (v0.3.0) ran normally.

**To Reproduce**

1. Put the "k3s-airgap-images-amd64.tar" in "/var/lib/rancher/k3s/agent/images".
2. Put the [k3s binary](https://github.com/rancher/k3s/releases/download/v0.4.0/k3s) in "/usr/local/bin/"
3. Prepare the "/etc/systemd/system/k3s.service":

[code]

4. Run "s

[2019-04-17 14:51] erikwilson commented on #362
rancher/k3s/pull/345 may help after that feature is merged

[2019-04-17 15:00] erikwilson commented on #364
It looks like the nf_conntrack modules is not loaded for whatever reason, if you add `ExecStartPre=-/sbin/modprobe nf_conntrack` to k3s.service does that help resolve the problem?

[2019-04-17 15:10] erikwilson commented on #194
Are you using air-gap images @jeusdi? How are you configuring your proxy? Might be best to create a new issue or hop on the rancher/k3s slack channel for more help.

[2019-04-17 15:18] erikwilson commented on #361
Related rancher/k3s/issues/360, probably caused by using `TimeoutStartSec=infinity` with an older version of systemd (https://stackoverflow.com/questions/42921055/changing-systemd-service-timeoutsec-value-to-infinity-has-no-effect)

[2019-04-17 15:29] erikwilson commented on #346
k3s should ship with a version of host-local that it puts in the path, like `/var/lib/rancher/k3s/data/XXX/bin/host-local`.

Are you using the release version of k3s?
What is the error you are getting if host-local is not symlinked in /usr/local/sbin?

[2019-04-17 15:36] erikwilson commented on #334
I think this is a duplicate of #236, so closing, thanks for reporting tho @dnoland1. Looks like we will need to update some packages that are currently forked and being maintained by @ibuildthecloud.

[2019-04-17 15:36] #334 closed

[2019-04-17 15:41] staranto commented on #363
@runningman84 "Would say", or "I have upgraded successfully simply by replacing the binaries and restarting"?

[2019-04-17 15:43] erikwilson commented on #344
It sounds like this has been resolved @HaJoHe, is it good to close?

[2019-04-17 16:46] HaJoHe commented on #344
Have checked it on 4 installations. It works on all systems as soon as firewalld is disabled.

[2019-04-17 16:46] #344 closed

[2019-04-17 18:02] runningman84 commented on #363
Yes I did it a couple of times the same way.

[2019-04-17 18:06] tfiduccia commented on #363
@deniseschannon - can we get the update information into the readme?

[2019-04-17 18:10] alexellis commented on #347
[code]

[2019-04-17 18:11] alexellis commented on #347
[code]

[2019-04-17 18:23] afbjorklund commented on #346
I am using a custom build from source, i.e. I am not using the version self-extracting in data

`ERRO[0001] failed to find host-local: exec: "host-local": executable file not found in $PATH`

[2019-04-17 18:35] erikwilson commented on #347
It looks like there are two issues here @alexellis, the first being that `TimeoutStartSec=infinity` does not work for you, can you verify the version of systemd that you are using with `systemctl --version`? I suspect it is prior to 229 and #365 will fix the timeout.

The other issue is that your system looks to be very low on entropy so will be very slow, some entropy is needed to generate secure

[2019-04-17 18:52] erikwilson commented on #346
Would it be better to modify the path to include /usr/local/lib/cni before starting your custom compilation of k3s, rather than adding more flags to modify the path inside k3s?

[2019-04-17 19:07] afbjorklund commented on #346
Sure, I can add it to the startup script rather than modifying the binary. Just thought you might consider it as a config option, since most distros (other than the bundled k3s one) has CNI installed outside their PATH.

I really like the `cni` binary though, definitely going to "borrow" that one - is it going upstream perhaps ? It fixes the problem where the CNI plugins package was twice as big (

[2019-04-17 19:28] afbjorklund commented on #346
Never mind, it won't work upstream (need to modify the module in the sources). `import "github.com/containernetworking/plugins/plugins/ipam/host-local" is a program, not an importable package`

[2019-04-17 20:09] erikwilson commented on #361
@owen-carter could you also please provide the systemd version from `systemctl --version`?

[2019-04-17 20:12] erikwilson commented on #360
@khurtado could you also please provide the systemd version from `systemctl --version`?

[2019-04-17 20:18] runningman84 opened #366 "kube-router support"
**Is your feature request related to a problem? Please describe.**
I would like to preserve client ips as described in this issue: https://github.com/rancher/k3s/issues/77
This is not possible with the flannel network

**Describe the solution you'd like**
I would like k3s to support kube-router. Therefore some options have to be passed to the kubelet and kube-controller-manager. Furthermore the ku

[2019-04-17 20:30] khurtado commented on #360
@erikwilson
Overlay doesn't seem to hang
[code]

Here is my systemctl info:
[code]

[2019-04-17 20:46] blang commented on #317
Same here on alpine 3.9, is there any clear docs about how to setup the cgroups?

[2019-04-17 21:11] jaigouk commented on #117
Hello,

I have been trying to install cert-manager and monitoring this thread and [this one](https://github.com/rancher/k3s/issues/120).

I have 4 tinker boards and I updated k3s to v0.4.0 yesterday.

I put following yaml as `/var/lib/rancher/k3s/server/manifests/cert-manager.yml`

[code]

Here is the result from helm-install-cert-manager job in kube-system namespace

[code]

[2019-04-17 21:25] vincentmli opened #367 "Suggest to change k3.service "After=network.target" to "After=network-online.target""
**Describe the bug**
start k3s with the new added --flannel-iface with systemd service as below

<pre>
[Unit]
Description=Lightweight Kubernetes
Documentation=https://k3s.io
After=network.target
#After=network-online.target

[Service]
Type=notify
Environment="HTTP_PROXY=http://10.3.254.254:3128/"
Environment="HTTPS_PROXY=http://10.3.254.254:3128/"
EnvironmentFile=/etc/systemd/system/k3s.service.en

[2019-04-17 22:46] gilkotton opened #370 "How can I inspect the sqlite database directly?"
I'm interested in visualizing the transactions on the sqlite database, similar to what has been done with etcd in the past.
How can I inspect the sqlite db?
Thanks.

[2019-04-17 23:07] erikwilson commented on #360
This should be fixed now with #365 @khurtado, if you can please retry the `curl -sfL https://get.k3s.io | ...` command and verify that k3s starts up correctly.

[2019-04-18 01:14] khurtado commented on #360
@erikwilson That did dix that issue indeed, thanks a lot!

[2019-04-18 01:14] #360 closed

[2019-04-18 01:15] warmchang commented on #364
@erikwilson Yep, it's working after add "ExecStartPre=-/sbin/modprobe nf_conntrack" to k3s.service.

Which feature introduced the dependency of nf_conntrack module?

And I will submit a PR to add the dependencies of nf_conntrack modules. (install.sh, README.md, k3s.service)

/assign

[2019-04-18 01:32] warmchang commented on #370
Try this: https://sqlitebrowser.org/

[2019-04-18 02:19] idcrook commented on #350
I'm not sure how to override or further configure, but I see this comes with the `traefik` chart, in its template `traefik/templates/configmap.yaml`, which forms the `traefik.toml` config

e.g. from https://kubernetes-charts.storage.googleapis.com/traefik-1.64.0.tgz

[code]

[2019-04-18 03:26] RobinsChens commented on #362
Whether the problem has been solved

[2019-04-18 03:27] gilkotton commented on #370
Thanks for the fast response, I would like to know if there is a service/
address/ port in k3s that I could point the query.

P.S. - I really like k3s.

On Thu, Apr 18, 2019, 10:32 William Zhang <notifications@github.com> wrote:

[2019-04-18 06:08] warmchang commented on #370
[code]

The default path for db files is: /var/lib/rancher/k3s/server/db, and it is defined in the source code:
https://github.com/rancher/k3s/blob/f6e0bad95300054ede990f7adc910f4de32ea923/vendor/github.com/ibuildthecloud/kvsql/clientv3/driver/sqlite/sqlite.go#L68

In contrast to many other database management systems, SQLite is not a client–server database engine.
So there are no service addresse

[2019-04-18 06:11] jeusdi commented on #194
I don't know which type of images I'm requesting right now.

I'm deployig using `pulumi` tool.

I tested behavior without having behind a proxy, and images have been pulled down correctly.

It seems a proxy related issue.

[2019-04-18 06:15] giminni opened #372 "'Exec format error' installing metrics server on k3s version v0.4.0 (7822549f) arm64 platform"
**Describe the bug**
'Exec format error' installing metrics server on k3s version v0.4.0 (7822549f) arm64 platform

**To Reproduce**
[code]

**Expected behavior**
[code]

**Additional context**
#252 #355

[2019-04-18 06:37] jeusdi commented on #194
I've just added proxy configuration at `/etc/systemd/system/k3s.service`:

[code]

It seems, k3s is able to pull down images right now.
Nevertheless, other services seems to fail:

![imagen](https://user-images.githubusercontent.com/941639/56341355-17560900-61b5-11e9-82d9-26f71c1fe9fe.png)

[2019-04-18 11:00] #370 closed

[2019-04-18 13:35] csreegn commented on #208
Git fixed with #252 IMHO.

[2019-04-18 13:36] csreegn commented on #254
great!

[2019-04-18 15:11] Dev-Time commented on #323
Not sure if i had the same issue as you, but I was also having trouble getting pods on different nodes to communicate.  I eventually solved it by disabling flannel in k3s with the `--no-flannel` option and installing flannel manually by following the instructions here: https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/#pod-network.

[2019-04-18 15:26] meldafrawi commented on #372
I tried to install metrics server on k3s using a raspberry pi, and I've got the same error.
the metric server pod always end in CrashLoopBackOff state.

I think the error is due to the following line:
https://github.com/rancher/k3s/blob/4af06882b67cd3f56285b6a5a1388b7190b93533/recipes/metrics-server/metrics-server-deployment.yaml#L39
specifying "amd64" in metrics server image

I've tried to replac

[2019-04-18 16:52] erikwilson commented on #361
Closing this is as fixed with PR #365, was tested in #360. If you think this is still an issue feel free to re-open with more information.

[2019-04-18 16:52] #361 closed

[2019-04-18 17:30] drym3r commented on #120
@ibuildthecloud Is there something that can be done with this? Not being able to use an operator it's a pitty.

[2019-04-18 17:30] #120 closed

[2019-04-18 18:26] deniseschannon commented on #31
@tfiduccia can you test with v0.4.0 cause @ibuildthecloud says it might already be fixed

[2019-04-18 18:37] everflux commented on #31
I can still reproduce the problem with 0.4.0

[2019-04-18 19:46] tfiduccia commented on #31
Version - master 4/18
This is not fixed.
```node_1    | E0418 19:44:42.171004       1 summary_sys_containers.go:47] Failed to get system container stats for "/docker/7be6fa3ddd65c1059ee34a48321d63899aadfae3922ccd24b129d8972faa5655/kube-proxy": failed to get cgroup stats for "/docker/7be6fa3ddd65c1059ee34a48321d63899aadfae3922ccd24b129d8972faa5655/kube-proxy": failed to get container info for "/doc

[2019-04-18 22:18] e-nikolov opened #374 "Question: How to access other services in the docker compose from pods?"
Is there a way to use k3s via docker-compose and have access from the k3s pods to the other services in the docker-compose via hostname? Right now I am able to access them via IP address, but the IP could change so it's not very convenient.

[2019-04-19 00:05] giminni commented on #372
@meldafrawi If I execute`kubectl top node`
I got `Error from server (ServiceUnavailable): the server is currently unable to handle the request (get nodes.metrics.k8s.io)`

[2019-04-19 00:20] meldafrawi commented on #372
@giminni
Can you please check the state of the mertics-server pod using:

`kubectl get pods -n kube-system | grep -i metrics-server`

[2019-04-19 00:46] e-nikolov commented on #374
I got it to work via a combination of `k3s agent --resolv-conf /etc/resolv.conf` for k3s to inherit the /etc/resolv.conf of its docker container and adding `hostNetwork: true` to the pod spec for it to inherit the /etc/resolv.conf from k3s. If there is a better way, please let me know. Otherwise this issue can be closed.

[2019-04-19 07:10] Lunik commented on #323
I have checked that `/proc/sys/net/bridge/bridge-nf-call-iptables` is set to `1`
My server has multiple interfaces so I have well the `--flannel-iface`

[2019-04-19 13:16] sr229 opened #377 "NodePort not accepting traffic from forwarded nginx traffic"
**Describe the bug**
We rely on K3s for a tightly-secured way to handle our services. However, since we rely on a shared node, we have to use `NodePort` for the service and the preinstalled nginx, when forwarding traffic from nginx to the NodePort, the NodePort seems to drop the traffic.

**To Reproduce**
Steps to reproduce the behavior:

- Create a sample app with a service exposed with NodePort

[2019-04-19 15:58] galal-hussein commented on #377
@sr229 I am not able to reproduce the issue on my setup, I was able to create a NodePort service normally and it accepts traffic as expected, can you send the issue you are referring to and more details on the setup.

[2019-04-19 16:18] ThomasSchoenbeck opened #378 "kubectl cannot retrieve info from local cluster"
**Describe the bug**
k3s kubectl cannot connect to the cluster as connection is refused

**To Reproduce**
start k3s server via docker (self build image) and run a shell inside it using the command k3s kubectl get node

**Expected behavior**
cluster node info appears

**Screenshots**
![image](https://user-images.githubusercontent.com/5657479/56432826-27faa200-62cf-11e9-8131-6957d014bade.png)
![imag

[2019-04-19 17:46] galal-hussein commented on #378
I was able to reproduce the issue by using the following steps:

- start k3s server with env `K3S_KUBECONFIG_OUTPUT=/tmp/kubeconfig.yml`
- try `k3s kubectl get nodes`

result:
[code]

Apparently when placing the kubeconfig in a non-default directory k3s kubectl try to get `/etc/rancher/k3s/k3s.yaml`

[2019-04-19 18:12] dnoland1 opened #379 "Node roles are not set"
**Describe the bug**
When viewing nodes, the roles column is not set. Using k3s v0.4.0.

**To Reproduce**
Steps to reproduce the behavior:
Run: `k3s kubectl get nodes`
[code]
**Expected behavior**
The roles column displays `<none>`. Would like to see something like this:
[code]

**Screenshots**
n/a

**Additional context**
FYI - RKE sets the following roles:
[code]
This feedback was raised and disc

[2019-04-19 18:29] ThomasSchoenbeck commented on #378
removing K3S_KUBECONFIG_OUTPUT did fix the issue.

I got the idea of using this variable from the docker-compose example file.

[2019-04-19 19:46] Lunik commented on #323
With Docker backend, pods are started with docker bridge IP and  not an IP inside the cluster-cidr range. Resulting on the container packet are not forwarded via the iptables

[2019-04-19 20:05] Lunik commented on #323
related #255

[2019-04-19 20:39] dnoland1 opened #380 "kube-apiserver in hyperkube fails with unknown flag: --repair-malformed-updates"
**Describe the bug**
The k3s hypercube image (v0.4.0) doesn't appear to support the `--repair-malformed-updates` flag.

**To Reproduce**
Steps to reproduce the behavior:

Run:
[code]

**Expected behavior**
Flag should work and kube-apiserver should run successfully.

**Screenshots**
n/a

**Additional context**
Attempting to use rke to run k3s. Above flags were created by rke. Using cluster.yml:
[c

[2019-04-20 02:40] sr229 commented on #377
@galal-hussein Kubernetes issue is [here](https://github.com/kubernetes/kubernetes/issues/39823).

Keep in mind traffic must come from a external nginx then goes to NodePort as a forward for this bug, not directly query the nodeport.

[2019-04-20 09:44] e-nikolov commented on #356
I'll answer my own question in case others attempt the same. It is possible with https://github.com/fluent/fluentd-kubernetes-daemonset, but there were a number of gotchas.

The fluentd logs started filling up with infinite backslashes ("\\\\\\\\\\\\...."). Issues https://github.com/fluent/fluentd-kubernetes-daemonset/issues/186 and https://github.com/openshift/origin-aggregated-logging/issues/142

[2019-04-20 12:17] dmarkey commented on #208
I believe this is fixed.

[2019-04-20 12:17] #208 closed

[2019-04-20 15:41] Oxylibrium opened #383 "k3s-created cni0 overrides nginx port rules"
**Describe the bug**
When k3s is started, nginx stops serving data, and instead a mysterious `404 page not found` is served on all nginx domains. On using lsof -p 80, only nginx's workers appear, but even after stopping nginx, the strange 404 page persists until reboot. Then, it disappears, and nginx works again until k3s is started.

This appears to be due to https://github.com/rancher/k3s/blob/4

[2019-04-20 18:33] AndreKR commented on #27
I'm also seeing the issue that the certificate from /etc/rancher/k3s/k3s.yaml (after base64 decoding) is different from /var/lib/rancher/k3s/server/tls/ca.crt and any other certificate in that directory.

[2019-04-21 10:39] staranto commented on #372
Exact experience as @giminni.

I start the master with --

    ExecStart=/usr/local/bin/k3s server --kubelet-arg='address=0.0.0.0'

and the nodes with --

    ExecStart=/usr/local/bin/k3s agent

(I don't think the agents need the address=0.0.0.0, do they?

After applying the recipe, I have running (in -n kube-system) the a metrics-server deploy, rs, svc and pod.  Akk showing running and no errors.

[2019-04-22 12:33] nberlee commented on #383
The response you are getting is from the traefik loadbalancer. It has nothing to do with flannel/cni0

It is a nat rule, fully intented to be there.. Only not documented
see:
[code]

[2019-04-22 15:50] lentzi90 commented on #117
I cannot reproduce the webhook issue. Is it only a problem if you install the chart the "k3s way"? (By putting it in `/var/lib/rancher/k3s/server/manifests/cert-manager.yml`?)

This is how I install it *with* webhooks.

[code]

[2019-04-22 17:15] pramodvallanur commented on #326
Experienced a similar behavior. For almost 60m, the pvc was not bound.

[2019-04-22 18:31] staranto commented on #372
Just an update for those that stumble down this path.  My metrics stuff is working now.  What did I change?  Nothing.  I simply wasn't being patient enough.  I just had to wait a loooong time (> 15 min).

[2019-04-23 03:33] leo1971 commented on #362
[code]

As the described in kubelet,  the flag `pod-infra-container-image` will be ignored when remote container runtime is being used.

[2019-04-23 04:57] iluminae commented on #245
Does this work? I am using the stable/cockroachdb helm chart on k8s installed via kubeadm, and this system with k3s - only the kubeadm based system issues the approved CSRs.

[2019-04-23 10:15] abusaidm commented on #350
In the traefik chart you are able to pass config variables to customise what you want with traefik for example

[code]
will install this chart and enable the dashboard through the mentioned domain name.

[2019-04-23 12:31] uablrek commented on #284
It seems like when the DNAT rule `kubernetes-service:443->[::1]:6443` is applied then the packets to the cni bridge interface (cbr0) is dropped. Since flannel does not support ipv6 "bridge" cni is used for ipv6. With `tcpdump` I can see packets coming to kubernetes-service:443 on the "veth" device from the pod, but they do not appear on the bridge device (cbr0).

I suspect that some sysctl for ipv

[2019-04-23 13:47] uablrek commented on #284
It seems like when the DNAT rule `kubernetes-service:443->[::1]:6443` is applied then the packets to the cni bridge interface (cbr0) is dropped. Since flannel does not support ipv6 "bridge" cni is used for ipv6. With `tcpdump` I can see packets coming to kubernetes-service:443 on the "veth" device from the pod, but they do not appear on the bridge device (cbr0).

I suspect that some sysctl for ipv

[2019-04-23 17:30] hellupline opened #386 "Metrics server unable to collect metrics"
**Describe the bug**
on a single master/agent cluster running on `coreos` at digitalocean, running example recipe for metrics servers, the metrics server is unable to fully collect metrics

**To Reproduce**
install k3s:
[code]
Steps to reproduce the behavior:
[code]

**Expected behavior**
metrics server to collect metrics

**Additional context**
Add any other context about the problem here.

[2019-04-23 23:24] amartinunowhy commented on #87
What I have found is that when you run the server node with `--disable-agent`, which is the case in docker-compose, there is no virtual ethernet interfaces and iptables rules that get created in the server node. In consequence, the API server cannot reach the services (here the dashboard) and cannot proxy it. As a workaround, I have removed the `--disable-agent` in the docker-compose (you also nee

[2019-04-24 01:45] warmchang opened #387 "Directory traversal vulnerability"
**Describe the bug**
K3s binary has directory traversal (or path traversal) vulnerability.

**To Reproduce**
1. Deploy the K3s environment.
2. Configure the kubeconfig on another host to access the K3s server.
3. Access url "https://k3s-server:6443/logs/" through brower from the host.
4. Step 3 above will prompt you to input the username password, then input these info from the kubeconfig.
5. Now

[2019-04-24 03:03] mdempsky opened #389 "/etc/rancher/k3s/k3s.yaml is world readable"
Installing k3s via get.k3s.io creates a world readable /etc/rancher/k3s/k3s.yaml file, which appears to contain a plain text admin password.

[2019-04-24 03:07] thedirtymexican commented on #117
Hi @lentzi90,

I followed your same steps. Cert-manager installs correctly, but never issues a lets encrypt certificate.

I when a tail the cert-manager deployment with: `kubectl logs -n cert-manager deploy/cert-manager -f`

[code]

So I'm thinking there is something missing in k3s that is required for cert-manager to work.

[2019-04-24 03:39] jrhoward commented on #340
I had the same issue but. This is a containerd configuration issue.
Following these tasks will get it working for you

https://kubernetes.io/docs/setup/cri/#containerd

[2019-04-24 05:38] warmchang commented on #387
The second attack method:
1. Run kubectl proxy on another host.
2. curl http://127.0.0.1:8001/logs/.

![20190420171913](https://user-images.githubusercontent.com/13084624/56634818-edf61b00-6695-11e9-8f45-d9ec5eb8d156.png)

[2019-04-24 16:18] huapox opened #390 "k3s in docker, nfs-provisioner not work"
k3s in docker(docker-compose up -d, cluster in docker, use containerd), nfs-provisioner not work:

**1. use the org Dockerfile's image from stratch:**
mount -t nfs host:/dir /local with err

**2.use the diy image from alpine:**
mount -t nfs host:/dir /local with err, but mount -t nfs4 works.

**3.use the diy image from alpine:**
apk add nfs-utils
mount -t nfs host:/dir /local; OKay

but when using

[2019-04-24 16:46] ibuildthecloud commented on #387
This is a feature of upstream Kubernetes. We can disable it somehow I'm sure, but specifically what is the vulnerability? Kubernetes will serve `/var/log` on the path `/log`.  I don't like the functionality, but I'm not sure it's actually a security risk.

[2019-04-24 16:50] ibuildthecloud commented on #389
Yeah, we actually did this on purpose but I can see how people wouldn't like it.  You can change the file mode of the kubeconfig as a parameter in `k3s server`.  I think the best approach would probably be to create a k3s group and prompt the user to run usermod like docker installation does.  The way it's done now was to avoid issue where people install and then can't access kubernetes because th

[2019-04-24 16:54] ibuildthecloud commented on #387
@warmchang You might not be seeing this issue in upstream because `/logs` is served by the kubelet, not the api-server (which happen to be the same process in for a single node setup).

https://github.com/kubernetes/kubernetes/blob/5d37d6b9bf75b21aff9cb724ceabc2023e106821/pkg/kubelet/server/server.go#L82

[2019-04-24 16:57] mdempsky commented on #389
That sounds reasonable to me.

Did you mean "unless they are root"? (Just making sure I understand your explanation.)

[2019-04-24 17:20] vitobotta commented on #103
Hi, thanks for the fix/workaround, it seems to work with OpenEBS and volumes mount successfully. Since I use Ansible to deploy the K3S cluster, how can I know the value of the hash so that I can automate the symlink at installation time? Thanks!

[2019-04-24 17:31] lentzi90 commented on #117
I was able to reproduce the same error you got @thedirtymexican but only when running all the commands at once with a script. To fix it, I simply rerun the last part (after create namespace). Then it worked.

I was also able to reproduce this problem in minikube, so it doesn't seem to be related to k3s.

This seem to be a timing issue to me. If the Issuer is created too fast it fails. It is not en

[2019-04-24 20:00] mortenlj commented on #350
The way to handle this (at least it's the way I have handled it), is to add `--no-deploy traefik` to your `k3s server` command, and then create your own Traefik manifest (or run helm manually).

My traefik manifest looks like this (Jinja2 template used with Ansible):

[code]

[2019-04-24 20:01] optimuspaul commented on #85
local-path-provisioner doesn't work for me because it isn't built for ARM

[2019-04-25 00:05] babykart opened #391 "kube-router installation with service-proxy fails"
**Describe the bug**
The installation of kube-router with full features (https://github.com/cloudnativelabs/kube-router/blob/master/docs/kubeadm.md) fails on init container.

**To Reproduce**
Steps to reproduce the behavior:
<pre>
k3s server --container-runtime-endpoint /run/containerd/containerd.sock --no-flannel --cluster-cidr 10.12.0.0/16 --service-cidr 10.13.0.0/16 --no-deploy traefik
</pre>
<

[2019-04-25 01:17] yamt commented on #391
a dup of https://github.com/rancher/k3s/issues/366

[2019-04-25 10:10] warmchang commented on #387
Kubernetes will serve /var/log on the path /log:
https://github.com/kubernetes/kubernetes/blob/517240750be0a9eaa39035ae81c92f81f7738b20/pkg/routes/logs.go#L34

But this feature does not mean that kubernetes users can view all the files & directories in the node /var/log path.

The administrator user is only for the kubernetes system instead of the node. That's way I think this's a [directory trave

[2019-04-25 11:31] mengyangGIT opened #392 "Resource limits does not work"
**Describe the bug**
1.  deploy a pod and set the resources limit  cpu:200m.
2.  run the command "while true" in that container
3.  get the top info to see the cpu percent

**Expected behavior**
excepted : cpu 20%
but whatever i set to the limit ,cpu  percent  is always 100%.

**Additional context**

OS: centos 7
kernel ver: 3.10.0-957.10.1.el7.x86_64
k3s ver: 0.4

[2019-04-25 11:52] warmchang commented on #387
@ibuildthecloud In order to reproduce it conveniently, I used the [katacoda public environment](https://katacoda.com/courses/kubernetes/launch-single-node-cluster) to show this.

- User the same kubernetes version (v1.14.1).
- All use single-node-cluster.

Reproducible operation steps (upstream k/k env):

1. Don't use the minikube version that already exists in katacoda environment
2. Download the

[2019-04-25 11:54] babykart commented on #391
@yamt For me is not exactly a duplicate because issue #366 tells about a potential integration as a package of kube-router in k3s : a feature.
I'm just telling that k3s is not compliant with the kubernetes networking support, in particular with kube-router in this case: a bug.
My 50cts .... :-)

[2019-04-25 16:51] deniseschannon commented on #383
@Oxylibrium if you have more questions, please let us know!

[2019-04-25 16:51] #383 closed

[2019-04-25 16:55] deniseschannon commented on #391
It's a duplicate because k3s doesn't support kube-router so I'm closing in favor of adding in support for kube-router.

[2019-04-25 16:55] #391 closed

[2019-04-25 18:26] vincentmli opened #393 "API proxy server 127.0.0.1:6445 under k3s kube-proxy ipvs mode not reachable from pod"
**Describe the bug**
when run k3s kube-proxy mode in ipvs mode, the internal API proxy server 127.0.0.1:6445 is unreachable from POD

for example, telnet k3s service 10.43.0.1 443 which  should be served by 127.0.0.1:6445

<pre>

[root@rancher-k3s ~]# ipvsadm -ln
IP Virtual Server version 1.2.1 (size=4096)
Prot LocalAddress:Port Scheduler Flags
  -> RemoteAddress:Port           Forward Weight Acti

[2019-04-25 18:39] ibuildthecloud commented on #389
I think what I'd like to do here is make the file not world readable and then change the kubectl wrapper code in k3s to try to read /etc/rancher/k3s/k3s.yaml and if it's not accesible issue a warning.  kubectl might still fail but it will at least help the user to know that maybe they need to run as root.  In the warning message we can indicate the server can be launch with `--write-kubeconfig-mod

[2019-04-25 18:41] ibuildthecloud commented on #390
I don't know if this is your issue but running NFS in containers often has an issue do to clients getting NATd.  You need to add `insecure` to your export in the /etc/exports.  More in the in the exports man page.

[code]

[2019-04-25 18:47] ibuildthecloud commented on #387
@warmchang Is this because minikube runs the api-server in a docker container that is not on the host and doesn't have access to /var/log?  I still believe the k3s behavior is consistent with upstream kubernetes but haven't tried myself yet.

To be clear, I think we should just drop the /logs path but I want to understand what is actually different from k3s and upstream k8s.  We shouldn't have cha

[2019-04-25 18:53] ibuildthecloud opened #394 "Expose node labels and taints as args"
I want to be able to set --register-with-taints and --node-labels on the kubelet.  This can already be done with --kubelet-arg but it this is common enough task that I'd prefer a top level flag on the agent for it.  Also, I'm a bit concerned we might not support --node-labels as the help says it's an alpha feature.

[2019-04-25 18:53] ibuildthecloud commented on #379
Related https://github.com/rancher/k3s/issues/394

[2019-04-25 18:59] ibuildthecloud commented on #378
What if we make it so that if the user changes the location of the k3s.yml we put it in the custom location and then also create a symlink at /etc/rancher/k3s/k3s.yml that points to the custom location.

[2019-04-25 19:59] mortenlj commented on #255
You can use the `--kubelet-arg` option to add an argument to kubelet:

`k3s agent --docker --kubelet-arg network-plugin=cni`

[2019-04-25 22:05] titilambert commented on #210
@zhanghongtong What kind of Raspberry pi are you using ? Rpi3 ?  Rpi0W ?

[2019-04-25 23:06] Guigouu opened #396 "Cordns and helm-install-traefik CrashLoopBackOff (Again)"
**Describe the bug**
K3S is not starting correctly. Always restarting coredns + helm-install-traefik
Exactly the same behavior in #24 and #344
Cordns and helm-install-traefik have the status CrashLoopBackOff after install k3s on Debian9.
Debian9 has access to internet and no SElinux.

**To Reproduce**
Install minimal k3s: curl -sfL https://get.k3s.io | sh -
Get pods logs : kubectl get all --all-na

[2019-04-26 02:02] egeneralov opened #397 "ansible playbook for deployment"
#### Hello.

Please, review my ansible role, which can be founded at [egeneralov/k3s](https://github.com/egeneralov/k3s).

#### Manualy tested cases:
- deployment with dedicated master
- deployment with default server mode
- deployment with slave nodes
- local path provisioner operability
- metrics server operability

All tested running in KVM vm's, located on same bridge.

###### P.S.: Thank you

[2019-04-26 02:05] egeneralov commented on #351
Hello.

This not a k8s/k3s business. Only RBAC set-up for helm.

[code]

And you be able to run `helm init --service-account tiller --upgrade --wait`

[2019-04-26 02:35] miahwk opened #398 "can not run k3s server:connection refused"
when run the command, just display as follow:
INFO[0000] Preparing data dir /var/lib/rancher/k3s/data/e249e3fc5ccf8ea07732c672f3062154b47357f5c85e1735339f087752a0f3ee
INFO[2019-04-26T10:31:56.021894652+08:00] Starting k3s v0.4.0 (7822549f)
INFO[2019-04-26T10:31:57.251039509+08:00] Running kube-apiserver --bind-address=127.0.0.1 --kubelet-client-certificate=/var/lib/rancher/k3s/server/tls/token-nod

[2019-04-26 03:26] warmchang commented on #387
@ibuildthecloud Thank you for reply.
To be precise, the host refers to the carrier where the binary of k3s or kubernetes is located, whether it is a physical machine, VM or a container.
As you said, it is possible that upstream kubernetes has similar behavior, I will continue to verify this.

[2019-04-26 06:55] rockylee3128 opened #399 "k3s failed start server"
when I want add a node for master
to shows that
W0426 14:55:40.805492   24201 kubelet_getters.go:279] Path "/var/lib/rancher/k3s/agent/kubelet/pods/1ec285fc-67ec-11e9-959c-fa163e1da570/volumes" does not exist
W0426 14:55:40.805559   24201 kubelet_getters.go:279] Path "/var/lib/rancher/k3s/agent/kubelet/pods/1e8834ed-67ec-11e9-959c-fa163e1da570/volumes" does not exist
E0426 15:00:39.031284   24201

[2019-04-26 13:09] huapox commented on #390
@ibuildthecloud thx for reply.

**1.I've tried with the issue you said by add inisecure to nfs-server, but got the same err:**
[code]

**2.and when i just run my diy img in the vm, it works:**
[code]
**3.attach info:**
nfs-server: ubuntu1604
[code]
vm: centos7, docker-ce 17.12

nfs-net: 10.200.100.0/24
vm-net: 172.17.0.0/24

[2019-04-26 14:33] erikwilson commented on #396
What is the output of `route`?

[2019-04-26 14:48] erikwilson commented on #399
Which kernel & device is this? Is it actually causing an issue or does everything work okay otherwise?

[2019-04-26 14:54] erikwilson commented on #397
Neat! We have this PR https://github.com/rancher/k3s/pull/217 which will hopefully be merged soon. I am not sure what the pros/cons are of the different approaches, if you have any feedback for the PR or would like to update it with future PRs that would be greatly appreciated.

[2019-04-26 15:01] #374 closed

[2019-04-26 15:20] erikwilson commented on #398
Do you have any firewall running?
What is the output of `iptables -L`?

[2019-04-26 19:25] egeneralov commented on #397
i hope you are joking.

I saw the #217 and [itwars/k3s-ansible](https://github.com/itwars/k3s-ansible), but all, what i can see - not good ansible knowlege. Thanks to this guy for reminder about slurp module, but rest of his code - is very dirty.

Wait for PR from me, i need apply some changes to my role, and prepare and test on arm.

[2019-04-26 20:05] abusaidm commented on #350
Thanks, I have reached similar conclusion recently, thanks.
I will mark this as resolved.

[2019-04-26 20:05] #350 closed

[2019-04-26 20:57] abdennour opened #401 "k3s service cannot start in RHEL with firewall enabled"
**Describe the bug**
I downloaded k3s on Redhat 7 and I wait for the cluster to be up, but it never be up.
I adjust firewalld to accept 6443/tcp, but no benefit.

**To Reproduce**
Steps to reproduce the behavior:
1. Install ` curl -sfL https://get.k3s.io | sh -`
2. Check if the service k3s is up : `watch -n 3 k3s kubectl get node`.
3. Adjust [firewalld to allow 6443/tcp](https://gist.github.com/ab

[2019-04-26 22:27] abdennour commented on #377
Same here with RHEL7 known that firewalld was stopped:

![image](https://user-images.githubusercontent.com/1788384/56839529-9ae5b900-688b-11e9-91a7-61380f64708b.png)

[2019-04-26 23:01] #364 closed

[2019-04-26 23:18] galal-hussein commented on #286
I don't see any errors any more with the latest k3s, for the release error it seems to be a race condition happens because crds for knative wasn't initialized, here is the original issue https://github.com/knative/eventing/issues/680

Running the command again works just fine.

[2019-04-26 23:40] erikwilson commented on #286
I'm still seeing some issues with certain pods, running with knative 0.5.0 and k3s v0.5.0-rc1:
[code]

[2019-04-27 00:19] erikwilson commented on #401
There is more that needs to be done with the firewall setup, here are some other potential ports:
Kubernetes needs:
[code]
Also see https://github.com/coreos/coreos-kubernetes/blob/master/Documentation/kubernetes-networking.md

The firewall will also probably need to be setup to allow traffic between various interfaces.

I am marking this issue as `kind/documentation` because we should provide bet

[2019-04-27 04:36] huapox commented on #390
new progress:
**1.try oth er nfs-provisoner, all the same err:**
(all latest version)
lizhenliang/nfs-client-provisioner
gmoney23/nfs-client-provisioner
angelnu/nfs-client-provisioner

**2.just run an alpine pod with privilege, to test nfs mount:**

[code]

`apk add nfs-utils`

[code]

[2019-04-27 15:15] abdennour commented on #227
I have SELinux enabled. I followed  this issue's comments. I set "setenforce Enforcing", I installed k3s again  `sudo curl -sfL https://get.k3s.io | sh -`, I ran the command ` k3s kubectl get nodes` but still the output is `No resources found.`.

Nevertheless, `k3s kubectl get namespaces` returns the expected output:

[code]

[2019-04-27 17:56] erikwilson commented on #390
It sounds like it might be an issue with routing, network, or configuration, where when running a pod with `privileged: true` it has greater access to network.

Does it work okay with the default provided containerd?
What configuration are you using for the nfs-client-provisioner deployment?

[2019-04-27 18:39] erikwilson commented on #390
Also, if you are using selinux there may be additional commands that need to run, such as `setsebool -P virt_use_nfs on`, from https://docs.okd.io/latest/install_config/storage_examples/shared_storage.html#sharing-an-nfs-pv-across-two-pods-ensuring-nfs-volume-access

[2019-04-27 19:59] spmason commented on #297
Looks like rancher just released this: https://rancher.com/blog/2019/announcing-k3os-kubernetes-operating-system/

[2019-04-27 20:57] runningman84 opened #403 "kubectl logs broken in in v0.5.0-rc1 (41520d73)"
**Describe the bug**
Fetching logs from containers is not possible anymore in v0.5.0-rc1 (41520d73)

**To Reproduce**
Replace k3s binary with v0.5.0-rc1 (41520d73) release

**Expected behavior**
Working log output like version v.0.4.0

**Screenshots**
broken version
[code]
working version
[code]
Add any other context about the problem here.

[2019-04-27 21:24] erikwilson commented on #403
Thanks for reporting this @runningman84. This is because we have changed how certs are generated. If you remove `token-node.crt` I think it should be regenerated and work.

[2019-04-27 21:34] erikwilson commented on #403
The agent certs will also need to be regenerated to use unmodified metrics server.

[2019-04-27 21:35] erikwilson commented on #403
Should also be fixed when #359 is updated & merged.

[2019-04-27 22:16] vitobotta opened #404 "How to enable MountPropagation?"
It's not really a bug but I didn't have many options...

I need to make sure that MountPropagation is enabled, so that Velero can restore volumes with Restic. How do I enable it and feature gates in general? Thanks!

[2019-04-27 22:39] ibuildthecloud commented on #404
k3s is running k8s 1.14 which has this feature on by default (and can't be disable either I believe).

[2019-04-27 22:42] ibuildthecloud commented on #404
Regarding feature gates.  All alpha features are removed from k3s.  If you want to use alpha feature you have to use something else.  Beta features are all on by default so the only configuration would be to disable a feature that is already on.  The way to disable features would be to use the kubelet arg like `--kubelet-arg feature-gates=AppArmor=false`

[2019-04-27 22:46] ibuildthecloud opened #405 "Atomic writing of cert files"
We are not currently using an atomic approach to writing files for certs so it is possible to end up with a corrupted (incomplete or zero length file) cert on disk.  We should be writing to a tempfile and moving to the target.

[2019-04-27 22:47] ibuildthecloud commented on #405
Related to #359

[2019-04-27 23:14] vitobotta opened #406 "Unable to restore volumes from Velero/Restic backup"
**Describe the bug**
I am unable to restore volumes backed up with Velero using the Restic integration (for file level backup). Restores fail with this error:

[code]
From some searching it seems that this issue might be related to the MountPropagation feature gate, however this feature gate is enabled by default in recent versions of Kubernetes so it should be enabled in K3S too.

**To Reproduce*

[2019-04-27 23:22] vitobotta commented on #404
Oops I am getting old! I opened another related issue because for some reason Github was very slow and it seemed that this issue hadn't been created! Sorry.

I tried adding the kubelet arg with the 0.5.0. version but it didn't recognize MountPropagation as feature gate.

[2019-04-28 02:01] giminni commented on #372
@meldafrawi Sorry for answering late here the info
[code]

[2019-04-28 10:51] GitToby opened #408 "crashLoopBackOff on various apps for arm64 & armv7"
**Describe the bug**
I'm following the UI tutorials on the Kuberneties website to deploy a UI pod and it keeps crashing, ending up in `crashLoopBackOff` state. If it helps in running Raspbian lite on a Pi3

**To Reproduce**
 1. Install k3s with `curl -sfL https://get.k3s.io | sh -`
 2. Create dash services, deployments etc with `kubectl apply -f https://raw.githubusercontent.com/kubernetes/dashboa

[2019-04-28 11:00] discordianfish opened #409 "SchemaError when trying to apply resources"
**Describe the bug**
Getting this error, no matter what resource I'm trying to apply:

```error: SchemaError(io.k8s.api.core.v1.CinderVolumeSource): invalid object doesn't have additional properties```

Using `--validate=false` works around this.

**To Reproduce**
Not sure, I've just upgraded from 0.3 to 0.4.

[2019-04-28 12:05] a-teisseire commented on #409
By upgrading K3s to 0.4, the underlying Kubernetes API got updated to v1.14.0.
The issue you're facing is because your kubectl is not up to date.
To check, you can type: `kubectl version`

In the best case, they have to be the same. If they're not, the Kubernetes spec explains that your kubectl can lag behind one minor version maximum.

[2019-04-28 12:47] huapox commented on #390
@erikwilson thx for reply.
I've alter the title of the issue, I run k3s in docker, with containerd in docker.

**my  nfs-client-provisioner deployment:**
[code]

[2019-04-28 12:49] huapox commented on #390
What's more, I just use the nfs volume to test, with the same err:

[code]

[2019-04-28 12:54] huapox commented on #390
selinux both in my nfs-server and the vm of k3s were disabled.

[2019-04-28 18:30] liggitt commented on #387
Log access is enabled by default, but can be disabled completely with `--enable-logs=false`, and is protected (on the https port) by whatever authorization mode is enabled for the API server. See https://github.com/kubernetes/kubernetes/issues/77182#issuecomment-487393911 for details

[2019-04-28 21:30] erikwilson commented on #408
For issues with pods in a `crashLoopBackOff` state it is very helpful to provide the output of `kubectl describe` for that pod.

Looking at `kubernetes-dashboard.yaml` we can see the deployment is using `k8s.gcr.io/kubernetes-dashboard-amd64:v1.10.1`, which probably would not work on an arm64 device.

The best outcome here is for kubernetes-dashboard to create multi-arch images so their default de

[2019-04-29 01:21] Indexyz commented on #201
@erikwilson I have same problem when I create LoadBalancer Service
[code]
It's looks like ip_forward different between host and pod?

k3s version `v0.4.0 (7822549f)`

[2019-04-29 01:40] huapox commented on #390
new progress, resolved:

**the key is to run rpcbind in the docker-node.**

k3s in docker with nfs usage,  alter the image:

**1.from alpine**

**2.apk add nfs-utils**

**3.rpcbind -f &**

**4. enjoy it.**

[2019-04-29 01:40] #390 closed

[2019-04-29 02:24] huapox opened #410 "k3s in docker, metrics-server not work"
**1.before install metrics-server:**
[code]

**2.after installation:**
[code]

**3.the log:**
[code]

[2019-04-29 02:26] iameli opened #411 ""crypto/rsa: verification error" after restarting k3s server"
**Describe the bug**
I started up a k3s cluster on a Raspberry Pi 3+. Completely standard install with  and everything seemed to be working well. After I restarted the server, it seems to be having problems with its TLS certification. All `kubectl` commands are failing with this command:

[code]

This shows up in `journalctl` as well, these same lines over and over:

[code]

Speculation: the Pi do

[2019-04-29 02:32] warmchang commented on #387
Continute discussion in https://github.com/kubernetes/kubernetes/issues/77182#issuecomment-487437725

/close

[2019-04-29 02:32] #387 closed

[2019-04-29 02:33] iameli commented on #409
Something I got bit with just in case it helps anyone else: Docker for Mac rather aggressively "upgrades" `/usr/local/bin/kubectl` to its preferred version when it boots up, so even if you've manually installed a later version recently it's worth checking that you didn't get downgraded.

[2019-04-29 03:16] huapox commented on #410
**with the newest version of metrics-server:**
- https://github.com/kubernetes-incubator/metrics-server/tree/master/deploy/1.8%2B
- image: bitnami/metrics-server:0.3.2

[code]

[2019-04-29 03:42] iameli commented on #411
Update: it works if I change its server to `server: https://10.9.168.90:6443` in the kubeconfig file, instead of `server: https://localhost:6443`. Unsure what that means. (That's its LAN IP FWIW.)

[2019-04-29 07:27] vFondevilla commented on #408
Exactly, the image you're using is AMD64 only:
🍺  Blckh.local ➜ ✗ docker container run --rm mplatform/mquery k8s.gcr.io/kubernetes-dashboard-amd64:v1.10.1
Image: k8s.gcr.io/kubernetes-dashboard-amd64:v1.10.1
 * Manifest List: No
 * Supports: amd64/linux

Change the image to k8s.gcr.io/kubernetes-dashboard-arm64:v1.10.1 and it should work.

[2019-04-29 07:51] xiongsongsong commented on #83
Can I solve this problem in "v0.5.0-rc2"? Thanks！

[2019-04-29 07:55] debianmaster commented on #145
+1 for --containerd-config

[2019-04-29 11:47] Celebrian opened #412 "Changing the pod-eviction timer"
**Is your feature request related to a problem? Please describe.**
For a project i'm doing, I would like to change the pod eviction timer so that I do not have to wait at least 5 mins before the container is deleted on failed nodes.

**Describe the solution you'd like**
Some way to change this setting in the kube-controller-manager. An option flag or the like.

**Describe alternatives you've consi

[2019-04-29 11:49] superseb commented on #412
This was implemented in v0.4.0 as described in https://github.com/rancher/k3s/issues/290

[2019-04-29 12:15] Celebrian commented on #412
Thanks, I should be able to figure it out from here. Thank you for the fast reply, feel free to close/delete this.

[2019-04-29 17:00] erikwilson commented on #386
This is because the `--kubelet-arg="address=0.0.0.0"` flag was not added as described in the docs. k3s v0.5.0 will remove the need for this flag.

[2019-04-29 17:02] erikwilson commented on #410
Duplicate of #386

[2019-04-29 17:02] #410 closed

[2019-04-29 18:43] erikwilson commented on #372
Are you still running with `--kubelet-arg='address=0.0.0.0'"` @giminni?

[2019-04-29 20:19] thatarchguy commented on #401
`cat /var/lib/rancher/k3s/agent/containerd/containerd.log`

I bet you'll see something like I was:
[code]

I was seeing the same exact error as you on Arch linux. My hostname was not resolvable, so containerd was not starting.

[2019-04-29 20:47] NoUseFreak opened #413 "Binding to a single ip"
**Describe the bug**
I am trying to bind the full cluster to a single ip. I have mulitple nics on my server and would like to run it as a single node cluster.

Can someone help me get the list of arguments to run it on a single ip only.
Currenlty once it starts, it seems to bind port 80/443 on every ip and responding with a 404 not found.

I already tried setting the following:

[code]

[2019-04-29 23:12] galal-hussein commented on #367
@vincentmli I tried to reproduce the issue by following the same steps, I wasn't able to reproduce the issue:
[code]

here is my systemd unit file:
[code]

Is there any more information related to your setup ?

[2019-04-29 23:37] galal-hussein commented on #367
According to systemd.special man:

           This unit is supposed to indicate when network functionality is available, but it is only very weakly defined what that is supposed to mean, with one exception: at shutdown, a
           unit that is ordered after network.target will be stopped before the network — to whatever level it might be set up then — is shut down. It is hence useful when writin

[2019-04-30 01:40] warmchang commented on #413
try ./k3s server --bind-address=192.168.123.100

https://github.com/rancher/k3s/blob/0e3711b8b709a06a3769e89fe7e3ef54c48a0cd0/pkg/cli/cmds/server.go#L38-L40

[2019-04-30 03:03] cwolfinger opened #417 "Airgap Helm Still Reaches out to "Stable" repos"
**Describe the bug**
Helm on K3s always attempts to reach out to stable repository - this delays startup time for air gap installs.

[code]

**To Reproduce**

Attempt to install any chart where there is no connectivity to kubernetes-charts.storage.googleapis.com.

**Expected behavior**

Airgap installs should remove the stable repos.

[2019-04-30 08:45] itwars commented on #397
I'll dive into your playbook to update my *dirty* code.

[2019-04-30 11:34] vitobotta opened #418 "Unable to access services using "kubectl proxy""
**Describe the bug**
If I try to access a service with the command `kubectl proxy`, all I get is a timeout which doesn't occur with standard Kubernetes.

**To Reproduce**
1. Create a service (the Rook Ceph dashboard in this example)
2. Run `kubectl proxy`
3. Attempt to access the service with something like:

[code]

**Expected behavior**
I should be able to access the service from my browser but

[2019-04-30 15:32] NoUseFreak commented on #413
@warmchang Looks like it still binds to more than just the provided ip.

[2019-04-30 15:33] erikwilson commented on #417
How much time is it adding?

[2019-04-30 15:56] cwolfinger commented on #417
I would guess about 30 to 45 seconds.

[2019-04-30 16:13] cwolfinger commented on #417
Hi In looking at it in more detail it takes at least 2 minutes to timeout possibly more.  I will time in more detail.

[2019-04-30 18:40] ibuildthecloud commented on #292
@discordianfish Can you reproduce the issue with that latest v0.5.0 rc build?  We have changed things in the area of metrics that may have fixed this.  We haven't been able to reproduce this issue so maybe it's fixed or there is an issue specific to openwrt.

[2019-04-30 18:50] ibuildthecloud commented on #216
The error messages that look like `node_3 | E0319 16:24:49.024328 1 summary_sys_containers.go:47] Failed to get system container stats for "/docker/0d66dcd7a51f277ed692dc202f1dcce18b0c1e3c7c9722023ead435c4fe4b5d6": failed to get cgroup stats for "/docker` have no real side effect.  We are trying to get rid of those in #31.  But those errors are not really going to prevent k3s from working.

@unaut

[2019-04-30 18:58] ibuildthecloud commented on #119
@rcarmo k3s really shouldn't be clobbering any iptables rules.  k3s itself doesn't nothing here, this is just upstream behavior of how kube-proxy sets up iptables.  But in general kube-proxy does not delete any iptables but just adds new rules specific to Kubernetes.  You didn't include the output of the `nat` table after k3s was start so I'm not sure what is broken.  I'm guessing the traffic is j

[2019-04-30 19:02] ibuildthecloud opened #419 "Create logrus binding to klog to manage logs consistently"
Right now logging is split between klog/glog and logrus.  We'd like all logs to use the same logging backend so we should implement the klog interface for logrus.

[2019-04-30 19:07] GitToby commented on #408
I have recently managed to break my Pi even further and it needs a full reset. I will try the arm64 image once I get it up and running again! just getting into this container thing so thanks for the help!

I'll close the issue and follow up when I get it working again.

[2019-04-30 19:07] #408 closed

[2019-04-30 19:21] ibuildthecloud commented on #413
@NoUseFreak The argument should have `=` in it, `./k3s server --kube-proxy-arg="bind-address=192.168.123.100"`  Are you sure that is really the setting you want though? I'm not even totally create what that address is used for.  Most of the time people want to set `--nodeport-addresses` which controls the ip ranges uses in the iptables.

[2019-04-30 19:21] #412 closed

[2019-04-30 19:23] ibuildthecloud commented on #411
We may have a general issue with k3s in that we really shouldn't start the k3s server until your time is set.  I think we could do something like "if the time is before 1980 wait".

[2019-04-30 19:27] ibuildthecloud opened #420 "Add restart=always to systemd unit file"
We like running processes, we should keep them running :)

systemd defaults to Restart=no which means if k3s fails on start or afterward systemd will not restart the process.  We should always restart.

[2019-04-30 19:29] ibuildthecloud commented on #409
@discordianfish can you confirm that upgrading your kubectl to make k3s version worked?

[2019-04-30 19:32] ibuildthecloud commented on #404
@vitobotta Is sounds like this is not an issue?  I'm going to close this one, please reopen if you think this is still an issue.

[2019-04-30 19:32] #404 closed

[2019-04-30 19:35] ibuildthecloud commented on #393
We might have legitimate issues supporting ipvs.  This hasn't been tried.  We make a change to kubernetes such that kube-proxy sends all traffic to localhost (which is running a proxy to the API server).  I don't know if IPVS will work because of that.

[2019-04-30 19:42] runningman84 commented on #393
Maybe even the client ip address could be preserved with ipvs.

[2019-04-30 20:05] rhrn opened #421 "Update SAN via flag"
### Problem

Add extra tls san record (`--tls-san`) via env

### Requested solution

* Add variable `/etc/rancher/k3s/k3s.env` (example)
[code]
* And restart server
[code]

### Current solution
* Update `/etc/init.d/k3s` by adding ` --tls-san`
[code]
* And restart server
[code]
Thanks)

[2019-04-30 20:53] giminni commented on #372
@erikwilson Yes

[2019-05-01 09:31] adi90x opened #424 "Ability to use Basic Auth File"
**Describe the bug**
Trying to use the new --kube-apiserver-arg to enable basic auth in k3s

**To Reproduce**
`sudo k3s server --no-deploy traefik --kube-apiserver-arg basic-auth-file=/home/adrienm/pass.csv --kube-apiserver-arg v=9`

**Expected behavior**
K3S server starting as expected

**Error**
`panic: creating CRD store Unauthorized`

`goroutine 544 [running]: github.com/rancher/k3s/vendor/git

[2019-05-01 10:04] akoenig commented on #50
`wireguard` support which ships with k3s would be super super helpful. I love the simplicity of `k3s` and how easy it is to setup a cluster. Having unencrypted traffic between the components of the cluster is actually a no-go for production-kind of setups though. Especially on cloud providers which don't support private networks (even then an encrypted communication would be required).

Do you hav

[2019-05-01 12:05] mjpitz commented on #409
@ibuildthecloud : I ran into the same issue due to the same reason. Verified that upgrading kubectl resolves this issue.

[code]

[2019-05-01 14:32] fire commented on #50
Maybe this network plugin is easily usable? https://gravitational.com/blog/announcing_wormhole/

[2019-05-01 17:19] galal-hussein commented on #424
@adi90x The problem is that the rest of components are using the following kubeconfig `/var/lib/rancher/k3s/server/cred/kubeconfig-system.yaml` which is generated by k3s and contain different credentials than the one you specified in the basic auth file, this will not work because this changes the way k3s orchestrate the authentication between components.

[2019-05-01 17:23] adi90x commented on #424
Ok make senses, at the moment I am adding the content of my file to the one
generated by k3s and reloading the service, will stick to that solution
then.

Le mer. 1 mai 2019 à 19:20, Hussein Galal <notifications@github.com> a
écrit :

[2019-05-01 17:54] galal-hussein commented on #418
@vitobotta I am not able to reproduce the problem from my end, it may be a problem with the created service/deployment, here are my steps:

- run a deployment/service:
[code]
- kubectl proxy
- access the service using the following format:
[code]
[code]

[2019-05-01 18:42] vitobotta commented on #418
Hi @galal-hussein , I have tried with the exact steps in your example, and I get `503 Service Unavailable` with curl, while if I visit that URL in the browser I get

[code]

Could it be something related to the ingress and the way I have installed it, or is it totally unrelated to ingress?

Or could it be the firewall? At the moment I have the firewall configured to allow all traffic between the n

[2019-05-01 18:50] vitobotta commented on #418
I just tried again after disabling the firewall on all the nodes but I have the same timeout issue.

[2019-05-01 19:08] vitobotta commented on #418
Uhm... I have tried `curl http://10.42.2.14:80/` on the workers directly and I can get the nginx index page. I have tried on the master though, and I get the timeout. So it's something with the master somehow. But it's not just this cluster, I have tried with 3-4 clusters although set up the same way.

[2019-05-01 19:59] vitobotta commented on #418
Aha! I may have found the reason it doesn't work... If I start the server with `--disable-agent` (since I have 3 servers dedicated to the worker role), no network interfaces are created on the master and therefore the master cannot communicate with services on the workers through flannel or whatever (still learning).

However if I start the server without `--disable-agent` then the network interfa

[2019-05-01 20:05] vitobotta commented on #418
For the time being I am leaving the server with agent enabled and I have cordoned it.

[2019-05-01 20:15] runningman84 opened #425 "Best practice prometheus monitoring"
**Describe the bug**
I would like to monitor a k3s system. Therefore I installed the prometheus operator helm chart. Out of the box a lot of alerts are in state FIRING.
A lot of rules which cover the apiserver and kubelet are not working. Should users just disable these rules or ar you going to provide your own default rules for a k3s setup?

**To Reproduce**
Install prometheus helm chart with def

[2019-05-01 20:42] vitobotta commented on #418
Interesting.... with `kubectl port-forward` it works even if I start the master with `--disable-agent`.

[2019-05-02 00:12] tfiduccia opened #428 "Can't create ingress in rancher after importing cluster"
**To Reproduce**
1.  Create k3s server with 2 agents (I used aws)
2.  Import into Rancher 2
3.  Using Rancher create a workload with 2 pods and image nginx
4.  Using Rancher Add Ingress, auto generate .xip.io hostname, Target nginx workload & port 80.

**Results**  LB never finishes initializing.  Error & Warnings in traefik pod, "Endpoint not found for default/ingress"

**Screenshots**
![image](h

[2019-05-02 08:22] uablrek commented on #284
The problem seem to be that the localhost is set as destination which is detected as a `martian destination` by the kernel.

However, this also applies for ipv4 but the DNAT to 127.0.0.1:6443 works in `k3s`.  I tried to setup this in a "bare VM" environment but could not get rid of the "martian destination" for ipv4. I could not figure out how `k3s` makes this work.

@ibuildthecloud Can you please

[2019-05-02 10:52] Guigouu commented on #396
Hello thanks for reply:
![Capture6](https://user-images.githubusercontent.com/18678887/57070892-18208c00-6cd9-11e9-80da-f840462af53b.PNG)

[2019-05-02 17:47] deniseschannon commented on #343
@erikwilson could you test this one?

[2019-05-02 17:48] deniseschannon commented on #367
@vincentmli Would you be able ot test out v0.5.0-rc1 to see if you are still having issues?

[2019-05-02 20:40] tfiduccia commented on #308
Version - v0.5.0-rc3
Verified fixed

[2019-05-02 21:18] tfiduccia commented on #308
Version - 0.5.0-rc2
This is still broken
Error for pod in logs:

[storage/driver] 2019/05/02 21:16:43 list: failed to list: Get https://10.43.0.1:443/api/v1/namespaces/kube-system/secrets?labelSelector=OWNER%3DTILLER: Unable to connect
Error: Get https://10.43.0.1:443/api/v1/namespaces/kube-system/secrets?labelSelector=OWNER%!D(MISSING)TILLER: Unable to connect

![image](https://user-images.github

[2019-05-02 22:54] erikwilson commented on #343
Verified that the args now works with `k3s server --kubelet-arg="feature-gates=SupportPodPidsLimit=false"`

[2019-05-02 22:54] #343 closed

[2019-05-02 23:07] erikwilson commented on #396
It looks like eth0 and cni0 are using the same ip range, you should be able to fix it with the `--cluster-cidr` flag to set a different value for cni0.

[2019-05-03 00:14] dnoland1 commented on #280
Tested on v0.5.0-rc3 (21a9dbe2). Successfully deployed files named `test.yaml` and `test.yml` by placing in `/var/lib/rancher/k3s/server/manifests`. Confirmed files with .swp and .txt were ignored. `.test.yml` was also ignored. Working as expected, closing issue.

[2019-05-03 00:14] #280 closed

[2019-05-03 00:23] dnoland1 commented on #321
Tested with ﻿﻿v0.5.0-rc3 (21a9dbe2). Ran `k3s server --node-name foobar`. Went into infinite loop with message:
[code]
I would expect it to eventually fail and not wait forever.

[2019-05-03 03:15] deniseschannon commented on #103
@iluminae @tfpereira @lentzi90 @pysen @vitobotta

Can you guys test with v0.5.0-rc3 to see if it's working for you?

[2019-05-03 03:16] deniseschannon commented on #255
@elvizlai Can you try with v0.5.0-rc3 to see if it's fixed for you?

[2019-05-03 03:19] deniseschannon commented on #323
@Lunik Can you test out v0.5.0-rc3 and let me know if your issue is fixed?

[2019-05-03 08:33] Lunik commented on #323
It's work perfectly with v0.5.0-rc3. thank's 👍

[2019-05-03 10:24] dsyer opened #436 "Documentation on ingress"
I saw some reference to ingress in the introductory blog (https://rancher.com/blog/2019/2019-02-26-introducing-k3s-the-lightweight-kubernetes-distribution-built-for-the-edge/), but nothing in the README. Maybe there's another source of documentation that I somehow missed (README is good though).

I can create a `LoadBalancer` service in my k3s cluster, but it never gets an external IP. I don't kno

[2019-05-03 11:57] dsyer commented on #436
Possibly relevant?

[code]

[2019-05-03 12:21] dsyer commented on #436
Update: I got it working after I found this in the README https://github.com/rancher/k3s#service-load-balancer. It wasn't clear, however that port 80 was actually already in use (by traefik itself?). So even if I wasn't explicitly using it myself it was always doomed to fail in a service spec.

I guess I was using the wrong search term. Could there maybe be an example `LoadBalancer` YAML there or

[2019-05-03 14:07] reegnz opened #438 "OpenAPIV3Schema validation in CustomResourceDefinition is not applied"
When a CRD contains an OpenAPIV3Schema validation spec, the validation is not executed in k3s, and invalid resources are accepted by the API Server.

**To Reproduce**
test-crd.yaml:
[code]
valid-resource.yaml:
[code]

invalid-resources.yaml:
[code]

**Expected behavior**
[code]

**Actual Output**
[code]

[2019-05-03 14:30] rhrn commented on #421
[code]

[2019-05-03 14:30] #421 closed

[2019-05-03 15:14] Id2ndR commented on #24
The narrow solution whould be `sudo iptables -A KUBE-FORWARD -s 10.42.0.0/16 -d 10.42.0.0/16 -m state --state NEW -j ACCEPT`

However, KUBE-FORWARD table is updated quiclky, so previous command will work one time if you are quick enough. So you can use `sudo firewall-cmd --direct --add-rule ipv4 filter FORWARD 1 -s 10.42.0.0/16 -d 10.42.0.0/16 -m state --state NEW -j ACCEPT`

[2019-05-03 16:07] ibuildthecloud commented on #438
OpenAPI support does not exist in k3s atm. OpenAPI adds a huge amount of bloat so we are working on a solution here.  Right now the openapi schema that k3s serves up is a static file.

CRD validation and serving openapi for aggregated APIs are the known broken areas for k3s.  K8s 1.15 will introduce more features that require openapi so we are working on this.

[2019-05-03 17:31] #323 closed

[2019-05-03 17:31] deniseschannon commented on #323
Thanks for the update @Lunik!

[2019-05-03 17:34] deniseschannon commented on #321
@dnoland1 if you have time to test again, we now time out after 5 tries.

It will be in v0.5.0-rc4.

[2019-05-03 17:54] lentzi90 commented on #103
v0.5.0-rc3 doesn't seem to work for me :(
Actually, when I try to mount an nfs volume I first see the same problem as before:
[code]
When I create the missing folder **it gets deleted** after a while. If I create it and manually mount (using the command from the logs) it works. Maybe it was this way before and I just happened to create the folder at the right time, I don't know.

Is anything speci

[2019-05-03 17:57] galal-hussein commented on #103
@lentzi90 can you check to see if the packaged mount binary still in `/var/lib/rancher/k3s/data/**/bin/mount`, if its there then it might be a problem with the upgrade.

[2019-05-03 18:14] deniseschannon commented on #103
Sorry @lentzi90 the latest RC doesn't have it, but will be available in the next RC!

[2019-05-03 19:49] reegnz commented on #438
Good to know. Jusy started experimenting with this part or CRD-s, so it's no biggie (not a deal breaker).
I am playing with k3s for local development and I tend to do k8s experiments mainly with k3s (fastest way to bootstrap a cluster I know of).
But I guess this could surprise soms people who rely o on it more than I do and I want k3s to succeed. :)

[2019-05-03 21:04] dnoland1 commented on #321
Sure, I can test it out. I don't see v0.5.0-rc4 on the releases page yet.

[2019-05-03 22:49] dnoland1 commented on #367
I installed k3s using `curl -sfL https://get.k3s.io | sh -`. It appears the install script has already been changed to use `network-online.target` even though I'm using v0.4.0 and not v0.5.0-rc3:
[code]

[2019-05-03 23:46] dnoland1 commented on #321
Tested with v0.5.0-rc4 and now it fails after 5 retries:
[code]
[code]

[2019-05-03 23:49] dnoland1 commented on #403
Was able to reproduce with v0.5.0-rc1:
[code]
Upgraded to v0.5.0-rc4 using `curl -sfL https://get.k3s.io | INSTALL_K3S_VERSION=v0.5.0-rc4 sh -`

Can see logs now:
[code]

[2019-05-03 23:58] erikwilson commented on #367
This change was made to the install script itself, which is available immediately on merge and not versioned, so the systemd service network-online.target change should be available regardless of the k3s version installed.

[2019-05-04 00:02] erikwilson commented on #362
0.5.0-rc4 is available to test this change, a `pause-image` flag has been added for k3s to configure this setting for containerd.

[2019-05-04 00:03] erikwilson commented on #308
This should be fixed in 0.5.0-rc4

[2019-05-04 00:05] erikwilson commented on #403
This should be fixed in 0.5.0-rc4

[2019-05-04 00:06] erikwilson commented on #321
Thanks for testing @dnoland1 !

[2019-05-04 00:06] #321 closed

[2019-05-04 00:20] dnoland1 commented on #331
Before changing containerd template, verified it was listening on port 10010:
[code]
Copied `/var/lib/rancher/k3s/agent/etc/containerd/config.toml` to  `config.toml.tmpl`. Edited `config.toml.tmpl` and changed `stream_server_port = "10011"`.
Restarted k3s. Confirmed containerd is now listening on port 10011:
[code]

[2019-05-04 00:50] deniseschannon commented on #103
@lentzi90 v0.5.0-rc4 is now available to test!

[2019-05-04 00:51] #331 closed

[2019-05-04 00:52] deniseschannon commented on #362
@leo1971 @RobinsChens @szlyunnan Can you try it out with v0.5.0-rc4?

[2019-05-04 00:53] #403 closed

[2019-05-04 01:10] dnoland1 commented on #255
Tested with v0.5.0-rc4. Ran steps above to download plugins, install docker, install k3s, and apply flannel plugin. Launched a test ubuntu pod and it appeared to get a pod IP (10.42.0.0/16):
[code]

[2019-05-04 01:12] erikwilson commented on #367
To test this would need to restart the computer/vm a few times to ensure the error message from the issue does not occur. It may be hard to reproduce, could be a race condition with systemd/k3s. The change appears simple enough that I am going to close this assuming it is fixed, my main concern is that network-online.target is old enough to be supported by almost all systemd configurations, which

[2019-05-04 01:12] #367 closed

[2019-05-04 03:55] huapox opened #442 "k3s server --disable-agent mode, with metrics-server installed, kubectl top node/pod not work."
**Anay**
The svc of the metrics-server like a.b.c.d:443 can't be reached by the `k3s server --disable-agent` node, because of kube-proxy not set in that server-node.

**How could kube-apiserver communicate with metrics-server in this mode, any good idea?**
ex:
- 1.install kube-proxy in server-node.
- 2.`route add` to route the metrics-server svc's ip traffic to the agent-node.
- 3.just change metr

[2019-05-04 03:56] huapox commented on #442
the svc of the metrics-server like a.b.c.d:443 can't be reached by the `k3s server --disable-agent` node.

[2019-05-04 07:57] lentzi90 commented on #103
Working like a charm! :+1: Can't wait for v0.5.0 now :)

[2019-05-04 20:39] dikshantad opened #443 "GPU device plugin support does not seem to be working"
**The bug**
Unable to register a NVIDIA GPU device plugin

**To Reproduce**
So I have nvidia-docker installed and running with nvidia set as my default docker runtime. My docker daemon.json looks like this:
[code]
As you can see below that is running fine.
[code]
Then started k3s with the following args:
[code]

Then I applied the Nvidia device plugins:
[code]

**Expected behavior**
I checked the

[2019-05-04 21:03] dikshantad commented on #443
I had the wrong mounthpath in my device plugin yaml
https://raw.githubusercontent.com/NVIDIA/k8s-device-plugin/1.0.0-beta/nvidia-device-plugin.yml

should have been:

[code]
instead of

[code]

[2019-05-04 21:03] #443 closed

[2019-05-05 08:01] wanggonggong opened #444 "the way to change the nodeport"
hi,
     can you please tell me How to modify the default port range of nodeport 30000-32767，thanks a lot.

[2019-05-05 15:12] staranto opened #445 "NetworkPolicy Broken?"
**Describe the bug**
k3s does not appear to be honoring a NetworkPolicy denying all traffic to a pod.

**To Reproduce**
Follow exactly the steps in the example here --
https://github.com/ahmetb/kubernetes-network-policy-recipes/blob/master/01-deny-all-traffic-to-an-application.md

**Expected behavior**
I expect the NetworkPolicy to be denying all traffic.

**Additional context**
Five node k3s clus

[2019-05-05 22:25] webwurst commented on #31
@ibuildthecloud Just in case you haven't seen this yet https://github.com/rancher/k3s/issues/87#issuecomment-486009796 Maybe a helpful finding to get this solved.

[2019-05-06 03:16] galal-hussein commented on #328
Steps to verify:

- Run k3s with one server and one agent
- Install metrics server from the recipe:
[code]
- wait few minutes and run `kubectl top nodes` or `kubectl top pods -n kube-system`
[code]

[2019-05-06 03:16] #328 closed

[2019-05-06 05:02] warmchang commented on #445
Flannel is the in-tree and default CNI plugin in k3s.
And it does not support NetworkPolicy.

FYI:
- https://github.com/coreos/flannel/issues/558
- https://github.com/coreos/flannel#networking-details

![image](https://user-images.githubusercontent.com/13084624/57207247-ac9f2d00-6ffe-11e9-9057-9ff625bb3934.png)

[2019-05-06 05:16] warmchang commented on #444
try this:
k3s server --kube-apiserver-arg --service-node-port-range=20618-20828

[2019-05-06 13:16] Guigouu commented on #396
Hello, after uninstalled and installed with

 10.45.0.0/16, the issue still the same:
CoreDNS log:
<img width="1383" alt="Screen Shot 2019-05-06 at 15 08 50" src="https://user-images.githubusercontent.com/18678887/57227375-8636bd00-7011-11e9-90e5-743ef090cc2f.png">
kubectl get all:
<img width="1228" alt="Screen Shot 2019-05-06 at 15 09 34" src="https://user-images.githubusercontent.com/18678887/57

[2019-05-06 15:11] erikwilson commented on #396
It looks like the `flannel.1` interface was not created, anything about flannel in `/tmp/k3s.INFO`?
Are you running a firewall also?

[2019-05-06 15:56] #297 closed

[2019-05-06 16:19] erikwilson commented on #103
Thanks for testing @lentzi90 !

[2019-05-06 16:19] #103 closed

[2019-05-06 16:21] erikwilson commented on #255
Thanks for testing @dnoland1!

[2019-05-06 16:21] #255 closed

[2019-05-06 16:39] erikwilson commented on #79
Verified that warning and error messages show in logs now with `grep '^[WE]' /var/log/k3s.log` using an openrc install.

[2019-05-06 16:39] #79 closed

[2019-05-06 17:06] erikwilson commented on #333
Testing looks good:
[code]

[2019-05-06 17:06] #333 closed

[2019-05-06 17:30] lentzi90 commented on #436
Normally you would use an [Ingress](https://kubernetes.io/docs/concepts/services-networking/ingress/) for http traffic to be able to expose multiple services trough a single IP. In this case the ingress controller would be the single entrypoint to kubernetes and that is why traefik is using port 80.

If you have multiple nodes in the cluster you would still be able to create a loadbalancer service

[2019-05-06 17:33] dnoland1 commented on #362
Appears to work as designed with v0.5.0-rc4. Ran:
[code]
The image I specified was downloaded:
[code]
And appears in `critcl info`:
[code]

[2019-05-06 17:36] erikwilson commented on #372
How many nodes are being used @giminni?
Assuming it is multi-node, is the ip resolvable from the server node?

[2019-05-06 17:38] erikwilson commented on #362
Thanks for testing @dnoland1!

[2019-05-06 17:38] #362 closed

[2019-05-06 17:56] tfiduccia commented on #308
Version - v0.5.0-rc4
Verified fixed.

[2019-05-06 17:56] #308 closed

[2019-05-06 18:04] deniseschannon opened #447 "Update upgrade docs for airgap setups"
https://github.com/rancher/k3s/pull/431#issuecomment-489711797

[2019-05-06 18:04] #332 closed

[2019-05-06 18:04] #363 closed

[2019-05-06 18:12] dsyer commented on #436
Why is Traefik using port 80 though? What does it do with it? I feel like I’m missing something (and the docs are really thin here).

[2019-05-06 18:33] erikwilson commented on #83
Yep, this is configurable with #345 and will be available in the v0.5.0 release

[2019-05-06 18:33] #83 closed

[2019-05-06 19:04] lentzi90 commented on #436
Sorry for not explaining better the first time.
Traefik is the (default) [ingress controller](https://kubernetes.io/docs/concepts/services-networking/ingress-controllers/) for k3s. In order to do its job it needs to scan for Ingress objects in the cluster. Once it finds one, it makes mapping from the specified hostname/path in the Ingress to the backend Service and makes sure that any incoming req

[2019-05-06 19:43] staranto commented on #445
Thank you, @warmchang.  You are correct.  I wasn't thinking about it from that perspective.

[2019-05-06 19:43] #445 closed

[2019-05-06 21:41] uudens commented on #213
I'll put this here just in case anyone's looking for it like I was.
`k3s crictl` is great but if you really want to use the `ctr` binary, try to specify the namespace like this:
[code]
I was also able to import a local image this way.

[2019-05-06 22:42] erikwilson commented on #284
Looking at https://en.wikipedia.org/wiki/Martian_packet, I am curious if it might have something to do with iptables or the flannel/cni setup.

[2019-05-07 00:06] erikwilson opened #450 "Metrics request canceled while waiting for connection"
**Describe the bug**
Unable to retrieve metrics:
[code]
From logs:
[code]

**To Reproduce**
Create multi-node cluster where metrics-server is deployed to a node other than the server (delete pod if lands on first node)

**Expected behavior**
Functional kubectl top

[2019-05-07 00:53] inductor commented on #55
Looks like Kubes would be the most voted?

[2019-05-07 00:53] inductor commented on #55
@ibuildthecloud

[2019-05-07 05:49] wanggonggong commented on #444
@warmchan  this method works  very well,thank  you very much.

[2019-05-07 05:49] #444 closed

[2019-05-07 12:20] AlbertoPeon commented on #145
👍  this would be nice to have !

Are there any alternatives to make it work with an insecure registry at the moment? Or setting a custom CA somewhere? Thanks!

[2019-05-07 12:48] mildred commented on #42
There is also Consul from Hashicorp that is very similar to etcd but far more easy to manage. Where I work, we managed automatically etcd clusters and Consul clusters, and Consul is really nice to operate from an automation point of view. It can automatically upgrade from a blank state to a clustered state. To the contrary, etcd needs to be started in the right configuration directly, and this req

[2019-05-07 12:55] uablrek opened #451 "The "Device Plugins" feature is beta in k8s 1.14 but not included in k3s 0.5.0"
**Describe the bug**

The [Device Plugins](https://kubernetes.io/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins/) does not seem to be included. I have not checked the code but the;
[code]

socket does not appear on k3s agents. This is the device-plugin registration socket and hence plugins fail with;
[code]

**To Reproduce**

Load an application that uses Device Plugins.

I got

[2019-05-07 15:49] warmchang commented on #451
@uablrek The unix socket should be **/var/lib/rancher/k3s/agent/kubelet/device-plugins/kubelet.sock**
[code]

Related code: https://github.com/rancher/k3s/blob/52f845ec844e0ae8f5f1a145bef0e553ac0d6840/pkg/agent/config/config.go#L335

[2019-05-07 15:56] uablrek commented on #451
Ah, thanks! I will re-configure NSM to mount the correct dir.

Closing, since this is not a bug.

[2019-05-07 15:56] #451 closed

[2019-05-07 16:04] oraoto commented on #145
In k3s 0.5, you can config containerd with the template file `<data-dir>/etc/containerd/config.toml.tmpl`.

To add insecure registory:

[code]

Doc:  [containerd and Docker](https://github.com/rancher/k3s/blob/1d42fc97555e28767cb0f2687bffd5992071d284/README.md#containerd-and-docker)

[2019-05-07 16:25] debianmaster commented on #145
@oraoto   do you know how to configure for selfsigned registries?

[2019-05-07 18:14] deniseschannon opened #452 "Certs Refactoring"

[2019-05-07 18:18] deniseschannon opened #453 "mysql/postgres support"

[2019-05-07 18:24] deniseschannon commented on #176
We have made the pause image configurable as of v0.5.0. Can you please open a new issue if you are still having issues?

[2019-05-07 18:24] #176 closed

[2019-05-07 18:29] deniseschannon commented on #138
@yechnlin there shouldn't be additional configuration for containerd for http_proxy and https_proxy.

I'm closing this issue in favor of https://github.com/rancher/k3s/issues/299 for the hostname fix.

[2019-05-07 18:29] #138 closed

[2019-05-07 18:34] deniseschannon commented on #406
@vitobotta Can you try again with the latest v0.5.0 release?

[2019-05-07 18:41] vitobotta commented on #406
Hi @deniseschannon, with some help I was able to solve by editing the file `20-restic-daemonset.yaml` and changing the hostPath setting to `/var/lib/rancher/k3s/agent/kubelet/pods`. By doing this I was able to restore backups with volumes created by Rook (still having issues with Longhorn but that's another topic). I will close this, thanks.

[2019-05-07 18:41] #406 closed

[2019-05-08 01:19] Ehco1996 commented on #65
just install k3s-agent can try this

`curl -sfL https://get.k3s.io | K3S_TOKEN=... K3S_URL=... sh -`

[2019-05-08 02:30] oraoto commented on #145
@debianmaster https://github.com/containerd/containerd/issues/3071

[2019-05-08 03:34] flytreeleft commented on #131
If you are in [K3OS](https://github.com/rancher/k3os), you can get `ctr` via executing `docker run --rm -it -v "$(pwd)":/mnt alpine:edge sh -c 'apk add --no-cache containerd && cp /usr/bin/ctr /mnt/'` and copy it to all K3OS hosts.

[2019-05-08 06:23] yuppies09 commented on #60
FATA[2019-05-08T14:42:54.921767227+09:00] :apiserver exited: failed to create listener: failed to listen on 127.0.0.1:6444: listen tcp 127.0.0.1:6444: bind: address already in use
Can anyone point out how to resolve this issue?

[2019-05-08 07:31] dsyer commented on #436
Thanks, that's almost got me to the point of actually understanding something - and it would be really useful to add more to the k3s docs. I thought if I just `curl <traefik-external-ip>` I should get a 404 (doesn't work yet)? I'm also still missing how the `service-a.example.com -> service-a` mapping gets done. RTFM on Traefik? Maybe a tiny little YAML example in the README would help?

[2019-05-08 08:00] lentzi90 commented on #436
Ah, sorry, I keep assuming familiarity with kubernetes. I'm not sure how much of the kubernetes documentation should be included in this repo but I'll leave that decision for someone else.

Anyway, the beauty of Ingresses is that you don't need to know much about the controller as long as it is there and functioning. It doesn't matter if you use nginx, traefik or haproxy, you just specify the conf

[2019-05-08 08:05] dsyer commented on #436
I had something like that, except I stole it from the traefik docs. Still not working (not even a 404, just "Connection refused"). So I'm missing something, or my cluster is subtly hosed. The traefik and coredns deployments are still showing "Ready: 0/1", but I don't see any hints in the `kubectl describe`, so I don't know if that is broken or not. It has always been that way.

[2019-05-08 14:32] huapox commented on #453
That wonderful, by the way with a suggest/question will k3s supports rqlite?

[2019-05-08 14:35] huapox opened #456 "How to use back to etcd, instead of the inner sqlite?"
When in production usage, with a existed empty etcd(single or cluster mod),
how can k3s be configured to use the outer etcd instead of the inner sqlite?

[2019-05-08 14:48] huapox commented on #386
Wish this can get some help #442

[2019-05-08 15:00] erikwilson commented on #442
At the moment it is expected that a server and agent will be run on the same node for network to be setup.

[2019-05-08 15:15] huapox commented on #87
k3s in docker with `--disable-agent`, when use metrics-server got the same situation #442

[2019-05-08 15:27] huapox commented on #442
yes, this issue is the same with k8s.

[2019-05-08 15:32] mschuchard commented on #256
Going to give this another go soon since I just saw this seems to be configurable and handled now.

[2019-05-08 17:49] asachs01 opened #457 "Starting k3s agent w/ systemd results in: `token does not match the server`"
**Describe the bug**
When starting the k3s agent via systemd, the agent logs from journald produce the following error:
[code]
Agents fail to join the initial server and continue to output that message in perpetuity.

However, when starting the agent via `k3s agent --server https://address.of.server:6443 --token $TOKEN`, the agent starts fine and is able to join the cluster
**To Reproduce**
Steps

[2019-05-08 17:57] asachs01 commented on #457
I should add that `/etc/systemd/system/k3s-agent.service.env` shows the correct values for both the server address and token.

[2019-05-08 19:58] tfiduccia opened #458 "Need to enable Ping so Rancher HA healthcheck passes"
**Describe the bug**
Tried to create Rancher HA machine using k3s and it won't pass healthcheck

**To Reproduce**
1.  Create 3 ubuntu machines on AWS
2.  Setup Amazon load balancer for those machine
3.  Ssh  on first machine and install k3s & start server
4.  Add other two machine as k3s agents
5.  Add Helm
6.  Install Tiller
7.  Install Ingress & Cert
8.  Install Rancher using ha/Helm-rancher dir

[2019-05-09 02:40] mlebrun opened #462 "More extensibility to CoreDNS configmap"
**Is your feature request related to a problem? Please describe.**
We have a desire to point requests from a specific domain (that doesn't line up with the current cluster domain schema) to the ingress in order to route requests from a web head pod to another pod on the same (single) node. For instance:

(webhead) `web.dev.be.lan` has an env var pointing to (other pod on same node) `search.dev.be.

[2019-05-09 08:39] deas opened #463 "watcher.go:208] watch chan error: EOF"
**Describe the bug**
With version 0.5 I frequently see errors
[code]
They originate [here in kvsql](https://github.com/ibuildthecloud/kvsql/blob/master/storage/watcher.go#L208)

I don't remember them appearing with 0.4, so it seems to be a regression.

I did not yet observe any downstream errors yet. However, events don't get send so I assume they are there. ;)

[2019-05-09 11:38] galal-hussein commented on #463
@deas Its not really a regression, klog errors/warnings were displayed in 0.5, I still can reproduce the error logs in 0.4 if I start k3s with debug enabled

[2019-05-09 13:22] bjwschaap opened #464 "k3s fails to start on network where Ceph cluster is present"
**Bug Description**
I have an Alpine linux VM (netbooted) with Docker and k3s 0.5.0. When I start `k3s server --docker` on any network without Ceph present in it, k3s starts without any problems. If I connect to a network where Ceph cluster is present, k3s fails with:

[code]
In this log the ip `10.32.2.101` is from my MON instance.

**Steps To Reproduce**
Steps to reproduce the behavior:
- bootst

[2019-05-09 13:57] bjwschaap commented on #464
Never mind.. After TCP dumping DNS requests, we observed that an actual NS lookup is done for localhost<<.aaa.bb.org>> (redacted). We had an obsolete wildcard DNS entry pointing to the MON host, which caused it to resolve to the MON host i/o localhost. A FQDN lookup is done because our DHCP broadcasts the domain, which causes a search domain in the resolv.conf.

[2019-05-09 13:57] #464 closed

[2019-05-09 14:11] rcarmo commented on #119
v.0.5.0 fixed this for me. Will be filing other issues, but this one's fixed AFAIK :)

[2019-05-09 14:11] #119 closed

[2019-05-09 15:44] mlebrun commented on #462
Maybe it would be possible to allow some usage of `https://coredns.io/plugins/import/` with a CLI arg?

[2019-05-09 18:14] galal-hussein commented on #450
I am not able to reproduce the issue:
- provision two ec2 instances on aws
- run k3s server on one and agent on another
- start metrics server from deployments recipes in the repo
- make sure metrics server pod landed on the agent node

Results:
[code]
Looks like the problem was a networking issue between the nodes.

[2019-05-09 20:18] flxs commented on #145
@debianmaster I've been playing around with this while waiting for the proper fix, and I was able to get it to work by adding the CA cert to the host system's trusted CAs (Ubuntu 18.04 in my case) and configuring it via kubectl like any other registry.

[2019-05-10 01:27] debianmaster commented on #145
@flxs  can you expand this a bit more?  what have you done?  `configuring it via kubectl like any other registry.` .

[2019-05-10 05:38] jait commented on #462
Or maybe the system could allow defining a custom name for the CoreDNS ConfigMap? This way the default configmap could stay in the system and if custom configs are needed, the admin could just create a new ConfigMap and point the configuration to load the Corefile from there?

[2019-05-10 07:04] jait commented on #462
Turns out there's (a bit hacky) way to have custom CoreDNS configs: the manifests in `/var/lib/rancher/k3s/server/manifests` are applied in order sorted by filename. So, to override the default CoreDNS config, one can simply create a new file e.g. with a name `d_coredns-config.yaml` and there you can override the `coredns` ConfigMap.

Question for Rancher Labs: can we rely on this behaviour and wh

[2019-05-10 09:46] kingdevnl opened #467 "Failed to start agent (node.crt) 403 forbidden"
Command i run to start k3s:

`
root@pi02:/home/pirate# sudo k3s agent --server https://192.168.178.129:6443 --token MyLongTokenHere

INFO[2019-05-10T09:41:07.179226896Z] Starting k3s agent v0.5.0 (8c0116dd)
ERRO[2019-05-10T09:41:09.748260722Z] https://192.168.178.129:6443/v1-k3s/node.crt: 403 Forbidden
ERRO[2019-05-10T09:41:15.767480924Z] https://192.168.178.129:6443/v1-k3s/node.crt: 403 Forbidden

[2019-05-10 09:53] kingdevnl commented on #467
In the k3s server console is this messages send aswell:

ERRO[2019-05-10T09:52:55.556246642Z] Node password validation failed for [pi02]

[2019-05-10 12:43] cbluth opened #468 "How to change POD and SERVICE CIDRs"
**Describe the bug**
I am looking for k3s-specific information on how to configure the CIDRs `--service-cluster-ip-range` and `--pod-network-cidr`, preferably at installation-time.
If not at installation-time, then some simple steps post-installation.

**To Reproduce**
standard install
`curl -sfL https://get.k3s.io | sh -`
then search docs for info to change cidrs

**Expected behavior**
some more

[2019-05-10 14:14] mlebrun commented on #462
I was going to say, that might not leave us in much of a better spot, but since it's _just_ the CoreDNS ConfigMap, I suppose that could work. At least for the time being.

[2019-05-10 15:31] cbluth commented on #256
@mschuchard
please report back if you have success, i am trying to do the same thing.

[2019-05-10 15:40] cbluth opened #469 "Subject Alt Name not being honoured"
**Describe the bug**
`curl -sfL https://get.k3s.io | sh -s - server --cluster-cidr 10.235.32.0/19 --service-cidr 10.235.0.0/19 --tls-san k8s.example.com --bind-address 0.0.0.0`

^ install like so, edit KUBECONFIG to use desired hostname.

[code]
^ then this happens

hostname validation fails.

**To Reproduce**
see above

**Expected behavior**
kubectl to work without hostname validation issues

[2019-05-10 15:41] cbluth commented on #468
do this:
`curl -sfL https://get.k3s.io | sh -s - server --cluster-cidr 10.235.32.0/19 --service-cidr 10.235.0.0/19 --tls-san k8s.example.com --bind-address 0.0.0.0`

[2019-05-10 15:41] #468 closed

[2019-05-10 16:02] mschuchard commented on #256
It did not work. Changing the bind address and hostname (but I would guess primarily the bind address) on the API server, and then the address on the scheduler and controller, causes Prometheus to fail to start up during the k3s server initialization. This is treated as a fatal error.

This works when configured with Minikube and works automatically with Microk8s (somehow it gets the correct hostn

[2019-05-10 16:28] erikwilson commented on #256
Flags that might help in addition to `tls-san` are `node-ip`, and `flannel-iface`. The main issue with vagrant I think is that eth0 is NAT and the default route which is not addressable between nodes, for node-to-node communication everything needs to talk over eth1. I think a good idea might be for us to create a flag which specifies some interface for k3s and auto-populates the other values from

[2019-05-10 16:39] cbluth commented on #469
[code]

the subject alt name is not being added

[2019-05-10 16:47] mschuchard commented on #256
Yeah I was using the `eth1` address for the `bind-address`. I may very well have missed all of the places where the `eth0` address needs to be replaced with the `eth1`. This kind of thing is easily automated on the provision side though with software provisioning facts, but I just need to know what places need configuration.

Basically I cannot connect to the instance with Kubectl or Helm on my ho

[2019-05-10 16:53] erikwilson commented on #256
Sorry, I have not tried this yet. It works without issue using minikube?
Is it an issue with exposing ports through vagrant/virtualbox?
Does the hostname in the kubeconfig need to change?
More info with the specific error is appreciated! :)

[2019-05-10 16:56] cbluth commented on #256
the errors are all related to the ssl validation, usually hostname mismatch for me.

I have reported another issue here, mostly likely related: https://github.com/rancher/k3s/issues/469

[2019-05-10 17:00] cbluth commented on #200
@discordianfish can you explain how you were able to get it to work? which command did you use to install?

[2019-05-11 03:08] fire commented on #66
Is there a timeline for including the ZFS snapshotter?

[2019-05-11 08:06] AkihiroSuda opened #470 "rootless mode does not start up when /var/lib/cni is missing"
**Describe the bug**

rootless mode does not start up when `/var/lib/cni` is missing.

A workaround is `sudo mkdir /var/lib/cni`

**To Reproduce**

`k3s server --rootless` without `/var/lib/cni`

**Expected behavior**
It should work without `/var/lib/cni`

**Screenshots**

[code]

**Additional context**

k3s v0.5.0

[2019-05-11 10:27] #442 closed

[2019-05-11 11:35] jaredallard opened #471 "k3s: Failing to run on arch linux (via k3d)"
**Describe the bug**
Attempted to run via k3d, ran into this issue:

[code]

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Expected behavior**
expected k3s to run

**Additional context**

I suspect this may be due to me running luks in lvm, so I will include disk information below plus other details:

[code]

Please let me know if I can provide anything else, I don't have much to go

[2019-05-11 18:40] adrianharabula commented on #467
Hello, I have the same error.

I started a k3s master on a Raspberry Pi 3, then added a node on another raspberry. All worked well until now.

I then tried to add a old laptop with amd64 architecture, the node join command fails with error mentioned by you.

I'm not sure yet why this is happening.

[2019-05-11 20:31] erikwilson commented on #462
We could probably use the import plugin to achieve this, am doing something similar with hosts on k3s where the current coredns configmap looks like the following:
[code]

[2019-05-11 20:41] erikwilson commented on #462
But in general manifest stuff could probably be improved, would depend on a properly named patch.

[2019-05-11 21:01] erikwilson commented on #462
The main issue with import is it doesn't really support graceful reloading so would require restarting coredns or updating Corefile.

[2019-05-12 00:38] jaredallard commented on #471
For what it's worth, it worked for a little bit, but then crashed with the same issue after about ~10m

[2019-05-12 08:07] kingdevnl commented on #467
It dous not seem to be device related
I tried setting up a small cluster using VM's and i got the same problem
After a reinstall of the master/vm that has to be the node It joined fine

[2019-05-12 14:27] runningman84 commented on #425
In order to remove target scrape errors I use this configuration:
[code]
Unfortunatly core parts of k3s are not monitored using this config.

[2019-05-13 06:08] Guigouu commented on #396
Hello, there is no firewall present. /tmp/k3s.INFO:

more /tmp/k3s.INFO
Log file created at: 2019/05/09 07:32:13
Running on machine: k3smaster
Binary: Built with gc go1.12.1 for linux/arm64
Log line format: [IWEF]mmdd hh:mm:ss.uuuuuu threadid file:line] msg
I0509 07:32:13.429258    3995 server.go:517] external host was not specified, using 127.0.0.1
I0509 07:32:13.434779    3995 server.go:148] Ver

[2019-05-13 06:48] deas opened #472 "Embedded containerd: Terminating orphaned containers"
**Is your feature request related to a problem? Please describe.**
I have a pretty basic single node k3s application where we aim for a way to shut down containers managed by the embedded containerd when k3s terminates. I am not very familiar with plain containerd so I might be missing something.

**Describe alternatives you've considered**
Using an external containerd might help us out. Not sure

[2019-05-13 09:30] gonzochic commented on #467
Encountered the same issue. I believe it happens when you connect an agent, then reinstall the agent and then try to connect again. I fixed the issues by reinstalling the master and reconnecting the agents. Maybe it is enough the rename the hostname of the agent but since installing / uninstalling k3s is so quick I've choosen the reinstall.

[2019-05-13 11:37] jaredallard commented on #471
Confirmed related to disk by removing the `/var/rancher/.../k3s` mount created by `-v`

[2019-05-13 11:37] schottsfired commented on #467
Same issue on my end. I use PiBakery to flash SD cards regularly, and one of the steps is to change the SSH host key. Could that be the culprit?

[2019-05-13 12:56] jaredallard commented on #471
Resolved by adding `-v /dev/mapper:/dev/mapper` to the docker container running k3s, which allows it to stat the filesystem, which then adds it to the partition cache.

[2019-05-13 12:56] #471 closed

[2019-05-13 14:45] cfchad opened #473 "Cadvisor not reporting Container/Image metadata"
**Describe the bug**
When making the call to retrieve metrics via Cadvisor, the Container and Images values are empty in all values.
[code]

**To Reproduce**
Install k3s via multipass https://medium.com/@zhimin.wen/running-k3s-with-multipass-on-mac-fbd559966f7c

[code]

**Expected behavior**
container and image values should be populated

**Additional context**
Wondering if it might be related to

[2019-05-13 15:02] Guigouu commented on #396
After to re-install the OS - More information:

Log file created at: 2019/05/13 14:30:15
Running on machine: k3sslave
Binary: Built with gc go1.12.1 for linux/arm64
Log line format: [IWEF]mmdd hh:mm:ss.uuuuuu threadid file:line] msg
I0513 14:30:15.318151    7405 server.go:517] external host was not specified, using 127.0.0.1
I0513 14:30:15.319819    7405 server.go:148] Version: v1.14.1-k3s.4
I0513

[2019-05-13 23:15] erikwilson commented on #472
Probably not an ideal solution, but the installation script will now also install a `k3s-killall.sh` script to completely kill all k3s processes and orphaned containers.

[2019-05-13 23:24] erikwilson commented on #467
Agent nodes are now registering with the server using a randomly generated password, where the server will save the password and verify against future attempts.

See `/var/lib/rancher/k3s/server/cred/passwd` and `/var/lib/rancher/k3s/agent/node-password.txt`.

We should improve the behavior of this process and/or documentation.

[2019-05-14 02:58] plutoid opened #474 "failed to open file hugetlb.64kB.limit_in_bytes on armbian"
**Describe the bug**
when I start service with 'k3s start' on armbian, it complained with issue like that
cannot open  open /sys/fs/cgroup/hugetlb/kubepods/burstable/hugetlb.64kB.limit_in_bytes , but on OS filesystem the file /sys/fs/cgroup/hugetlb/kubepods/burstable/hugetlb.64KB.limit_in_bytes does exist, the difference is that file name including should be **KB** not **kB**, not sure which side

[2019-05-14 05:57] deas commented on #472
Awesome. That one should be doing the trick for now. Thanks @erikwilson

[2019-05-14 05:57] #472 closed

[2019-05-14 09:11] gonzochic commented on #467
@erikwilson Thanks for your quick response. Now I understand the current behaviour.

I don't think it is a bug -- it is more a feature which is not described in the documentation. The question which should be answered there: How can we connect a new agent from a machine with a previously installed agent (hence another password).

For now I would simply edit `/var/lib/rancher/k3s/agent/node-passwor

[2019-05-14 12:56] goffinf opened #475 "Windows SubSystem for Linux failed to find memory cgroup"
Thanks for helping us to improve k3s! We welcome all bug reports. At this stage, we are also looking for help in testing/QAing fixes. Once we've fixed you're issue, we'll ping you in the comments to see if you can verify the fix. We'll give you details on what version can be used to test the fix. Additionally, if you are interested in testing fixes that you ***didn't*** report, look for the issues

[2019-05-14 13:19] ktmdms commented on #60
Something is already using port 6444.  Figure out what that is and stop it to be able to start apiserver or move apiserver to use an unused port.  On the linux I use "netstat -anp | grep 6444" would be what I would use but different linux flavors may be different.

[2019-05-14 13:22] erikwilson commented on #475
Unfortunately since WSL does not support kernel modules I am not sure there is a lot we can do there. It might be worth trying to use docker with the `--docker` flag instead of the containerd run-time.

[2019-05-14 15:08] goffinf commented on #475
Thanks @erikwilson I feared as much.

I would say though, that it’s pretty common for large corporates to use WSL as a convenient implementation for running local K8s as well as connecting into public and private Cloud, I know we certainly do. As a corporate customer of Rancher one of the things I am tasked with is providing a relatively seamless desktop experience for local dev that closely mirro

[2019-05-14 15:35] Matrix-Zhang opened #476 "how to use --pause-image flag?"
i'm using the the script install k3s as systemd service

[2019-05-14 16:32] ibuildthecloud commented on #476
Refer to `INSTALL_K3S_EXEC` in the README.md.  In short

[code]

[2019-05-14 16:34] ibuildthecloud commented on #475
@goffinf WSL2 should support k3s. We intend to support WSL2.

[2019-05-14 16:48] dewet22 commented on #117
I've not managed to repro this myself on a brand new k3s cluster; it just seems to work out of the box if you follow their instructions, most importantly step 1! My steps were:

1) Install the CRDs first via `kubectl apply -f https://raw.githubusercontent.com/jetstack/cert-manager/release-0.8/deploy/manifests/00-crds.yaml`

2) Install the `HelmChart` using the jetstack repo without any modificatio

[2019-05-14 17:21] SwagMuffinMcYoloPants commented on #145
I couldn't get this to work until I changed

[code]

to

[code]

[2019-05-14 18:09] yangm97 opened #477 "GitLab integration fails with error: certificate verify failed (unable to get local issuer certificate)"
- Install k3s using the script from k3s.io
- Set up Gitlab integration as per https://gitlab.com/help/user/project/clusters/index.md

[code]

[2019-05-14 21:05] vincentmli opened #478 "k3s 0.5 agent node fail to create nginx pod when starting as systemd service"
**Describe the bug**
A clear and concise description of what the bug is.

running k3s agent node as systemd  service as below cause agent node fail to create pod

start k3s agent service as:

<pre>
root@home-ubuntu:/var/lib/rancher# cat /etc/systemd/system/k3s.service
[Unit]
Description=Lightweight Kubernetes
Documentation=https://k3s.io
After=network-online.target

[Service]
Type=notify
ExecStart

[2019-05-14 21:12] runningman84 commented on #116
It looks like even commands like
k3s crictl ps
do not work if you run k3s in agent mode

[2019-05-14 21:37] rhrn commented on #231
@ggardet try this
[code]

[2019-05-14 22:39] alexec opened #480 "K3S on CircleCI"
Hi - have you run this on CircleCI please? I'd like to see if someone has any useful pointers.

[2019-05-14 23:00] goffinf commented on #475
Yeah I agree, my experiments with WSL and k3s and k3d just fall short right now. Looks like June.

[2019-05-15 02:01] saturnism commented on #85
I was able to get the local provisioner working. It'd be great if it enabled by default.

1. Create directory that's needed by local provisioner: `sudo mkdir /opt/local-path-provisioner`
1. Install local provisioner: `kubectl apply -f https://raw.githubusercontent.com/rancher/local-path-provisioner/master/deploy/local-path-storage.yaml`
1. Set the local provisioner as default: `kubectl patch stora

[2019-05-15 03:21] Matrix-Zhang commented on #476
ok

[2019-05-15 03:21] #476 closed

[2019-05-15 07:43] runningman84 commented on #478
I have the same issue. Funny enough the k3s server which also includes the agent works just fine.

Are you sure that it is caused by systemd?

[2019-05-15 12:57] vincentmli commented on #478
I am not sure if it is directly related to systemd, maybe I can add debug level to kubelet and hopefully that could give more clue

[2019-05-15 14:42] vincentmli commented on #478
I attached the k3s agent node kubelet with log level to 4, it appears kubelet fail to create sandbox for the nignx pod, there are some errors factory.go Factory "systemd", not sure if it is related
here is the nginx pod:

<pre>
root@Office-R220-vli:/home/vincent# kubectl get po -o wide
NAME          READY   STATUS              RESTARTS   AGE   IP           NODE              NOMINATED NODE   READIN

[2019-05-15 18:28] nrvale0 commented on #256
@mschuchard : I've been testing some Helm Charts via k3s in Vagrant and using [this](https://github.com/nrvale0/sandbox-vagrant-k3s/blob/master/vms/ctrlplane/bootstrap.sh#L72) to bootstrap the master/control plane. I've not noticed any problems related to API server, TLS, etc.

[2019-05-15 18:46] erikwilson commented on #256
It looks like there is a bug with the tls-sans flag where it will only take IPs, I will take a closer look and should have fix out for next release.

[2019-05-15 18:57] mschuchard commented on #256
@nrvale0 I was not configuring the flannel interface. I will give that a shot next time.

[2019-05-15 20:30] cfchad commented on #473
@ibuildthecloud do you have any insight into this? Did you happen to run into any issues of the sorts? I saw that you are hosting the fork for cadvisor for k3s.

[2019-05-15 20:56] andypost commented on #463
it happens every 1-3 seconds on mostly empty setup

[2019-05-15 23:32] nrvale0 opened #482 "Cannot enable Node Authorization via --kube-apiserver-arg"
**Describe the bug**
Passing ```--kube-apiserver-arg authorization-mode=Node,RBAC``` per the k8s docs does not enable Node Authorization.

**To Reproduce**
[code]

[code]

**Expected behavior**
Node Authz should enabled and cluster-info dump should show as much.

k3s logs do show that the parameter is being passed to the API server at startup:

[code]

[2019-05-16 02:15] huapox opened #483 "When use --docker, which is the minimal version that k3s required."
**k3s 0.4.0:**
failed to run Kubelet: failed to create kubelet: docker API version is older than 1.26.0

[2019-05-16 02:21] kcns008 opened #484 "failed to get CA certs at https://server_add:6443/cacerts - When trying to add new k3s worker node"
ERRO[2019-05-16T02:18:54.984314601Z] failed to get CA certs at https://192.168.155.4:6443/cacerts: Get https://192.168.155.4:6443/cacerts: dial tcp 192.168.155.4:6443: connect: connection timed out

[2019-05-16 05:35] huapox commented on #483
Got:
[code]

[2019-05-16 05:35] #483 closed

[2019-05-17 13:36] vincentmli commented on #482
maybe add quote ? --kube-apiserver-arg "authorization-mode=Node,RBAC"

[2019-05-17 16:43] Harguer commented on #24
I had same error, and i spent some time to resolve it, even i reinstalled my OS, and tried with different kubes' versions.  At the end the issue was firewalld.
I disabled and tried again with a fresh installation, and now it is working fine.

[2019-05-17 18:51] galal-hussein commented on #295
@babykart Thanks for filing the issue, however I am not able to reproduce with 0.5.0, I created a deployment with two pods and both of them are accessible using service with ClusterIP:
[code]

[2019-05-17 18:53] derba opened #485 "DNS does not work with SELinux"
Kube-DNS does not work for me with K3s. (I am pretty sure it works for most of you, as DNS is quite basic thing for K8s services.)
I installed K3s on 2 Fedora 30 systems with exactly the same result.

[code]
The trouble is that I cannot find services using DNS. E.g. this nslookup fails:
[code]
That error message took several seconds to show up. I guess nslookup cannot connect to 10.43.0.10. It doe

[2019-05-17 18:53] #295 closed

[2019-05-17 22:36] erikwilson commented on #484
Closing as a resolved network configuration issue, from Rancher user slack:

[2019-05-17 22:36] #484 closed

[2019-05-18 14:33] rcarmo commented on #99
It would be great to have this working with internal private registries, both with and without auth, for CI pipelines and such. I use `registry:2` for these scenarios.

[2019-05-18 17:05] wxdao opened #486 "Add docs for all available flags"
There is no unified content about available flags the k3s command accepts in README, and README seems to be the only doc we have while lacking essential updates. I don't even know there is already a --pause-image flag until I've dug into the release note and the pr of it.

[2019-05-18 17:46] rcarmo commented on #145
Actually, that should be:

[code]

At least that is what works for me with `v0.5.0`.

[2019-05-18 18:21] erikwilson commented on #462
Related: coredns/coredns/issues/2633

[2019-05-18 21:33] rcarmo opened #488 "Add buildah/podman for managing images"
**Is your feature request related to a problem? Please describe.**
I require the ability to re-tag and manage images (including pushing to a private registry) inside the k3s environment (typically at the master or single node).

**Describe the solution you'd like**
I would like to have either `buildah` or `podman` baked in, similarly to how `crictl` is currently made available.

**Describe alterna

[2019-05-18 23:00] eduardobcastro commented on #485
This example works for me:
https://kubernetes.io/docs/tutorials/stateless-application/expose-external-ip-address/

But this doesn't and the external IP stays pending for ever:
https://kubernetes.io/docs/tutorials/stateless-application/guestbook/

[2019-05-19 05:38] ljckennedy opened #489 "tiller won't install"
**Describe the bug**
I wish to use the helm client. My cluster is running and I can deploy Sc's and pods without helm and run get pods, , get storageclass, etc.

**To Reproduce**

echo 'Installing Kubernetes'
curl -sfL https://get.k3s.io | sh -
#alias kubectl='k3s kubectl'
kubectl apply -f https://raw.githubusercontent.com/rancher/local-path-provisioner/master/deploy/local-path-storage.yaml
kubect

[2019-05-20 06:59] crsantini opened #490 "Ingress through default Traefik working but stuck on status "Initializing""
**Describe the bug**
Tested on Rancher 2.2.3 and K3S 0.5 on AWS using default traefik embedded on k3s.
After defining my ingress, the same works (respond to my external connections, hostname and paths) but get stuck on status "Initializing"

**To Reproduce**
1. Create a pod and service exposing the pod port.
2. Create an ingress including annotation "kubernetes.io/ingress.class: "traefik"" redirec

[2019-05-20 07:14] digitalassembly commented on #85
Just adding my 2 cents. I was able to get my PVC's working using NFS (required for my specific case). I have followed https://github.com/kubernetes-incubator/external-storage/tree/master/nfs and even after doing all the steps I was still getting errors when bounding. The solution was to install nfs-commons on my Ubuntu 18.04 nodes.    "sudo apt-get install nfs-common" .

[2019-05-20 08:34] derba commented on #489
That is strange. You did exactly the same as me in #485. But tiller works for me fine. What OS do you use?
Wherever I looked people suggest reinstalling tiller: https://github.com/helm/helm/issues/3460. But the original issue has been fixed in helm.

[2019-05-20 09:57] ljckennedy commented on #489
I am using ubuntu 16.04.  It's running inside a virtualbox VM (and all scripted via vagrant) but I can't see how they would impact.

Output is:

vagrant@qmi-k3s:~$ kubectl get all -n kube-system -o wide
NAME                             READY   STATUS      RESTARTS   AGE   IP           NODE      NOMINATED NODE   READINESS GATES
pod/coredns-695688789-bdxn9      1/1     Running     2          29h   1

[2019-05-20 10:31] derba commented on #489
It looks healthy. Does `helm version` print something usable?

[2019-05-20 17:57] btashton commented on #489
@ljckennedy I ran into this as well.  You need to make sure that helm is using the correct kubeconfig.  Try something like this:

`KUBECONFIG=/etc/rancher/k3s/k3s.yaml helm init --service-account tiller`